<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-关于我们</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li class="active-nav"><a href="#">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">公司简介</a></li>
						<li><a href="#">联系我们</a></li>
						<li><a href="#">预约咨询</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title abouttxt">
								<h6>关于壹加医介绍</h6>
								<p class="indent">
									壹加医(北京)国际健康管理有限公司是中国大陆第一家源于台湾的专业国际健康管理机构。壹加医致力于挖掘海外优质医疗资源，打造专业、权威的一流国际健康管理平台，并为我们的每一位客户提供最适合自己的个性化健康解决方案。壹加医不仅拥有众多知名台湾专家的加盟，而且在国内建立了广泛的三甲及优质高端医院合作关系，实现国内医生医疗沟通的无缝对接，确保出国前及回国后获得全程、全面的健康保障。壹加医提供的服务包括：国际就医服务、国际体检服务、国际专家会诊、海外辅助生殖、医学专职翻译、海外医疗签证等众多专业化海外医疗服务。 
								</p>
								<p class="indent">
									医疗有风险，我们对全球医院的苛刻选择，确保壹加医客户享受到更优质、更安全、更舒适的国际顶级医疗健康服务。 
								</p>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<div class="row contactus">
									<h1>壹加医(北京)国际健康管理有限公司</h1>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">地址：北京市海淀区北太平庄路18号城建大厦B座910</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">电话：400-138-5808</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">传真：010-82255108</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">邮箱：rosie@medicalcares.cn</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">网址：www.medicalcares.cn</p>
									</div>
								</div>
								<div class="row">
									<h1>欧洲办事处</h1>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">电话：+34 912 307 873/+34 689 580 373</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">地址：西班牙马德里里瓦德广场6号楼9层01</p>
									</div>
								</div>
								<div class="row">
									<h1>美国办事处</h1>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">电话：+011 626 277 8282</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">地址：894 Sapphire Ct Pmomona CA 91766</p>
									</div>
								</div>
								<div class="row">
									<h1>澳大利亚办事处</h1>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">电话：1300 769 575/0438 598 018</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">地址：澳大利亚墨尔本中央公园3145号</p>
									</div>
								</div>
								<div class="row">
									<h1>台湾办事处</h1>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">电话：0086 929 117 401</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">地址：台湾高雄市林园区林西路360号</p>
									</div>
								</div>
								<div class="row">
									<h1>欧洲办事处</h1>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">电话：+34 912 307 873/+34 689 580 373</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<p class="indent">地址：西班牙马德里里瓦德广场6号楼9层01</p>
									</div>
								</div>
								<div id="themap">
									<div style="height:300px;border:#ccc solid 1px;" id="dituContent"></div>
								</div>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title zixun">
								<div class="table-responsive">
									<table class="table table-hover table-bordered pc">
										<col width="90px;">
										<col width="190px;">
										<col width="90px;">
										<col width="190px;">
										<col width="90px;">
										<col width="190px;">
										<caption>预约咨询</caption>
										<tbody>
											<tr>
												<td>姓名</td>
												<td><input type="text" class=" abouttable"></td>
												<td>性别</td>
												<td>
													<select name="" id="" class=" abouttable">
														<option value="">请选择</option>
														<option value="">男</option>
														<option value="">女</option>
													</select>
												</td>
												<td>年龄</td>
												<td><input type="text" class=" abouttable"></td>
											</tr>
											<tr>
												<td>联系方式</td>
												<td><input type="text" class=" abouttable"></td>
												<td>咨询项目</td>
												<td>
													<select name="" id="" class=" abouttable">
														<option value="">请选择</option>
														<option value="">海外试管婴儿</option>
														<option value="">海外冻卵</option>
														<option value="">赴美生子</option>
														<option value="">慢病管理</option>
														<option value="">海外体检</option>
														<option value="">海外治疗</option>
														<option value="">海外医美</option>
														<option value="">基因检测</option>
													</select>
												</td>
												<td>邮箱</td>
												<td><input type="text" class=" abouttable"></td>
											</tr>
											<tr>
												<td>咨询内容</td>
												<td colspan="5">
													<textarea name="" id="" cols="30" rows="10" class=" abouttable"></textarea>
												</td>
											</tr>
										</tbody>
									</table>
									<table class="table table-hover table-bordered phone">
										<col width="40%">
										<col width="60%">
										<caption>预约咨询</caption>
										<tbody>
											<tr>
												<td>姓名</td>
												<td><input type="text" class=" abouttable"></td>
											</tr>
											<tr>
												<td>性别</td>
												<td>
													<select name="" id="" class=" abouttable">
														<option value="">请选择</option>
														<option value="">男</option>
														<option value="">女</option>
													</select>
												</td>
											</tr>
											<tr>
												<td>年龄</td>
												<td><input type="text" class=" abouttable"></td>
											</tr>
											<tr>
												<td>联系方式</td>
												<td><input type="text" class=" abouttable"></td>
											</tr>
											<tr>
												<td>咨询项目</td>
												<td>
													<select name="" id="" class=" abouttable">
														<option value="">请选择</option>
														<option value="">海外试管婴儿</option>
														<option value="">海外冻卵</option>
														<option value="">赴美生子</option>
														<option value="">慢病管理</option>
														<option value="">海外体检</option>
														<option value="">海外治疗</option>
														<option value="">海外医美</option>
														<option value="">基因检测</option>
													</select>
												</td>
											</tr>
											<tr>
												<td>邮箱</td>
												<td><input type="text" class=" abouttable"></td>
											</tr>
											<tr>
												<td>咨询内容</td>
												<td>
													<textarea name="" id="" cols="30" rows="10" class=" abouttable"></textarea>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="yuyue">
									<a href="cureal.html">预约咨询</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		//创建和初始化地图函数：
	    function initMap(){
	        createMap();//创建地图
	        setMapEvent();//设置地图事件
	        addMapControl();//向地图添加控件
	        addMarker();//向地图中添加marker
	    }
	    
	    //创建地图函数：
	    function createMap(){
	        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
	        var point = new BMap.Point(116.37349,39.9727);//定义一个中心点坐标
	        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
	        window.map = map;//将map变量存储在全局
	    }
	    
	    //地图事件设置函数：
	    function setMapEvent(){
	        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
	        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
	        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
	        map.enableKeyboard();//启用键盘上下左右键移动地图
	    }
	    
	    //地图控件添加函数：
	    function addMapControl(){
	        //向地图中添加缩放控件
		var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
		map.addControl(ctrl_nav);
	                //向地图中添加比例尺控件
		var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
		map.addControl(ctrl_sca);
	    }
	    
	    //标注点数组
	    var markerArr = [{title:"公司地址",content:"壹加医（北京）国际健康管理有限公司",point:"116.377499|39.974755",isOpen:1,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
			 ];
	    //创建marker
	    function addMarker(){
	        for(var i=0;i<markerArr.length;i++){
	            var json = markerArr[i];
	            var p0 = json.point.split("|")[0];
	            var p1 = json.point.split("|")[1];
	            var point = new BMap.Point(p0,p1);
				var iconImg = createIcon(json.icon);
	            var marker = new BMap.Marker(point,{icon:iconImg});
				var iw = createInfoWindow(i);
				var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
				marker.setLabel(label);
	            map.addOverlay(marker);
	            label.setStyle({
	                        borderColor:"#808080",
	                        color:"#333",
	                        cursor:"pointer"
	            });
				
				(function(){
					var index = i;
					var _iw = createInfoWindow(i);
					var _marker = marker;
					_marker.addEventListener("click",function(){
					    this.openInfoWindow(_iw);
				    });
				    _iw.addEventListener("open",function(){
					    _marker.getLabel().hide();
				    })
				    _iw.addEventListener("close",function(){
					    _marker.getLabel().show();
				    })
					label.addEventListener("click",function(){
					    _marker.openInfoWindow(_iw);
				    })
					if(!!json.isOpen){
						label.hide();
						_marker.openInfoWindow(_iw);
					}
				})()
	        }
	    }
	    //创建InfoWindow
	    function createInfoWindow(i){
	        var json = markerArr[i];
	        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
	        return iw;
	    }
	    //创建一个Icon
	    function createIcon(json){
	        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
	        return icon;
	    }
	    
	    initMap();//创建和初始化地图：
	</script>
</body>
</html>