<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-海外治疗</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header class="cure">
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li class="active-nav"><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div id="banner">
			<img src="../images/bgleft.png" alt="" class="bg1">
			<img src="../images/bgright.png" alt="" class="bg2">
			<p>海外医疗，壹加医携手绿色、健康与您一路同行</p>
		</div>
		<div class="container">
			<div class="index-inner">
				<div class="disease">
					<div class="maintxt">
						<h2>海外治疗病症</h2>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">丙肝</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">乳腺癌</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">脑瘤</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">肺癌</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">胰腺癌</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">痛风</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">结直肠癌</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="curetxt.html">卵巢癌</a>
							</div>
						</div>
					</div>
				</div>
				<div class="patient">
					<div class="maintxt">
						<h2>什么样的患者适合出境就医</h2>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
								<div class="outside">
									<p>目前的治疗产生很大的<br>副作用或者疗效一直不<br>理想的</p>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
								<div class="outside">
									<p>目前国内没有更好的治<br>疗方案或被国内医生告<br>知无能为力的</p>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
								<div class="outside">
									<p>被诊断患有非常严重的<br>疾病(例如：癌症等)的<br></p>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
								<div class="outside">
									<p>希望寻求更好的治疗环<br>境和服务的<br></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="whyout">
					<div class="maintxt">
						<h2>为什么选择出国就医</h2>
						<div class="yjypic">
							<img src="../images/whyoutpic.png" alt="">
						</div>
					</div>
				</div>
				<div class="choice">
					<div class="maintxt">
						<h2>为什么选择壹加医</h2>
						<div class="yjypic">
							<img src="../images/oneaddonepic.png" alt="">
						</div>
					</div>
				</div>
				<div class="flow">
					<div class="maintxt">
						<h2>诊疗流程</h2>
						<div class="yjypic">
							<img src="../images/hwzllcpic.png" alt="">
						</div>
					</div>
				</div>
				<div class="example">
					<div class="maintxt">
						<h2>治疗实例</h2>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pic">
								<a href="curetxtal.html">刘女士&nbsp;/&nbsp;46&nbsp;/&nbsp;卵巢癌</a>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pic">
								<a href="curetxtal.html">刘女士&nbsp;/&nbsp;46&nbsp;/&nbsp;卵巢癌</a>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pic">
								<a href="curetxtal.html">刘女士&nbsp;/&nbsp;46&nbsp;/&nbsp;卵巢癌</a>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pic">
								<a href="curetxtal.html">刘女士&nbsp;/&nbsp;46&nbsp;/&nbsp;卵巢癌</a>
							</div>
							<div class="clear"></div>
							<div class="all">
								<a href="cureal.html">全部案例</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</body>
</html>