<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-海外名医</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li class="active-nav"><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">丙肝</a></li>
						<li><a href="#">乳腺癌</a></li>
						<li><a href="#">脑瘤</a></li>
						<li><a href="#">肺癌</a></li>
						<li><a href="#">胰腺癌</a></li>
						<li><a href="#">痛风</a></li>
						<li><a href="#">结直肠癌</a></li>
						<li><a href="#">卵巢癌</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="curetxtal.html">乳腺癌</a>
								<p class="thetimetitle">2016-10-20</p>
								<p>刘女士&nbsp;/&nbsp;46&nbsp;/&nbsp;卵巢癌</p>
								<p>
									4年前，李女士被诊断患有乳腺癌时，癌细胞就已经扩散到她的骨骼、肝和肺。化疗、放疗不仅使她脱发并感到恶心呕吐，更糟糕的是这些方法对治疗她的癌症根本不起作用。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="curetxtal.html">肺癌</a>
								<p class="thetimetitle">2016-10-20</p>
								<p>高女士&nbsp;/&nbsp;45&nbsp;/&nbsp;肺癌 </p>
								<p>
									高女士是一位三个孩子的母亲，当她45岁的时候感觉呼吸短促，去医院检查后被诊断为成人型哮喘。但是一次肺炎发作后，她的医生有了其他的发现：1期B型肺癌。这个诊断......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="curetxtal.html">痛风</a>
								<p class="thetimetitle">2016-10-20</p>
								<p>朱先生 &nbsp;/&nbsp;52&nbsp;/&nbsp;痛风 </p>
								<p>
									朱先生患有痛风多年，朋友通过壹加医报名体检，检测到痛风并且基本治愈，所以推荐了朱先生来壹加医进行咨询。我们医学顾问把朱先生的国内病例和用药都发给了日本......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="curetxtal.html">卵巢癌</a>
								<p class="thetimetitle">2016-10-20</p>
								<p>刘女士 &nbsp;/&nbsp;46 &nbsp;/&nbsp;卵巢癌 </p>
								<p>
									卵巢癌是女性生殖器官常见的肿瘤之一，发病率仅次于宫颈癌和子宫体癌而居第三位。但因卵巢癌致死者，却占各类妇科肿瘤的首位，对妇女生命造成严重威胁。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					// window.location.href="hospital.html?id=Amer";
					return false;
				})
			})
		})
	</script>
</body>
</html>