<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-海外名医</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li class="active-nav"><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">丙肝</a></li>
						<li><a href="#">乳腺癌</a></li>
						<li><a href="#">脑瘤</a></li>
						<li><a href="#">肺癌</a></li>
						<li><a href="#">胰腺癌</a></li>
						<li><a href="#">痛风</a></li>
						<li><a href="#">结直肠癌</a></li>
						<li><a href="#">卵巢癌</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>丙肝</h5>
								<p class="indent">
									丙型病毒性肝炎，简称为丙型肝炎、丙肝，是一种由丙型肝炎病毒（HCV）感染引起的病毒性肝炎，主要经输血、针刺、吸毒等传播，据世界卫生组织统计，全球HCV的感染率约为3%，估计约1.8亿人感染了HCV，每年新发丙型肝炎病例约3.5万例。丙型肝炎呈全球性流行，可导致肝脏慢性炎症坏死和纤维化，部分患者可发展为肝硬化甚至肝细胞癌（HCC），对患者的健康和生命危害极大，已成为严重的社会和公共卫生问题。 丙型肝炎病毒感染是致病根本原因，在外界因素的影响下，如饮酒，劳累，长期服用有肝毒性的药物等，可促进病情的发展。丙肝的病理改变与乙肝极为相似，以肝细胞坏死和淋巴细胞浸润为主。慢性肝炎可出现汇管区纤维组织增生，严重者可以形成假小叶即成为肝硬化。 HCV感染的发病机制主要包括免疫介导和HCV直接损伤两种，病毒因素包括病毒的基因型、复制能力、病毒多肽的免疫原性等；宿主因素包括人体的先天性免疫反应、体液免疫和细胞免疫反应等。饮酒、免疫抑制剂的使用等因素对HCV的感染病程也有影响。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>乳腺癌</h5>
								<p class="indent">
									女性乳腺是由皮肤、纤维组织、乳腺腺体和脂肪组成的，乳腺癌是发生在乳腺腺上皮组织的恶性肿瘤。乳腺并不是维持人体生命活动的重要器官，原位乳腺癌并不致命；但由于乳腺癌细胞丧失了正常细胞的特性，细胞之间连接松散，容易脱落。癌细胞一旦脱落，游离的癌细胞可以随血液或淋巴液播散全身，形成转移，危及生命。目前乳腺癌已成为威胁女性身心健康的常见肿瘤。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>脑瘤</h5>
								<p class="indent">
									颅内肿瘤又称脑肿瘤、颅脑肿瘤，是指发生于颅腔内的神经系统肿瘤，包括起源于神经上皮、外周神经、脑膜和生殖细胞的肿瘤，淋巴和造血组织肿瘤，蝶鞍区的颅咽管瘤与颗粒细胞瘤，以及转移性肿瘤。 脑肿瘤本身的占位效应及脑水肿时颅内容物的体积超出了生理调节限度，或肿瘤靠近脑脊液循环造成梗阻性脑积水，或压迫静脉窦致静脉回流受阻所致。主要可有：①头痛多为发作性、进行性加重的头痛，清晨或睡眠为重，常因用力、喷嚏、咳嗽、低头或大便而加重，坐位、站立姿势或呕吐后可暂时缓解或消失。②呕吐常出现于剧烈头痛时，易在早上发生。③视力障碍，主要为视乳头水肿和视力减退。④头昏头晕，头昏（体位失去平衡的感觉）、头晕（天旋地转的感觉），以颅后窝肿瘤最常见。⑤癫痫发作，约30%的脑肿瘤可出现癫痫，颅内压增高引起的癫痫常为大发作，局灶性癫痫发作常具有定位意义。⑥复视。⑦精神及意识障碍，表现为淡漠、反应迟钝、思维迟缓、对外界事物漠不关心、活动减少、记忆力减退、定向力障碍等，少数有强迫症、精神分裂症或精神运动性发作，晚期有昏睡、昏迷等意识障碍。⑧头颅增大，幼儿的前囟膨隆、头尾增大和颅缝分离，叩诊破罐音（Macewen征）。⑨生命体征改变，如血压上升、脉搏减慢及呼吸不规律（Chyne-Stroke呼吸）。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>肺癌</h5>
								<p class="indent">
									肺癌是发病率和死亡率增长最快，对人群健康和生命威胁最大的恶性肿瘤之一。男性肺癌发病率和死亡率均占所有恶性肿瘤的第一位，女性发病率占第二位，死亡率占第二位。大量资料表明，长期大量吸烟与肺癌的发生有非常密切的关系。已有的研究证明：长期大量吸烟者患肺癌的概率是不吸烟者的10～20倍，开始吸烟的年龄越小，患肺癌的几率越高。此外，吸烟不仅直接影响本人的身体健康，还对周围人群的健康产生不良影响，导致被动吸烟者肺癌患病率明显增加。肺癌早期症状常较轻微，甚至可无任何不适。中央型肺癌症状出现早且重，周围型肺癌症状出现晚且较轻，甚至无症状，常在体检时被发现。肺癌的症状大致分为：局部症状、全身症状、肺外症状、浸润和转移症状。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>胰腺癌</h5>
								<p class="indent">
									胰腺癌是一种恶性程度很高，诊断和治疗都很困难的消化道恶性肿瘤，约90%为起源于腺管上皮的导管腺癌。其发病率和死亡率近年来明显上升。5年生存率<1%，是预后最差的恶性肿瘤之一。胰腺癌早期的确诊率不高，手术死亡率较高，而治愈率很低。本病发病率男性高于女性，男女之比为1.5～2:1，男性患者远较绝经前的妇女多见，绝经后妇女的发病率与男性相仿。胰腺癌临床表现取决于癌的部位、病程早晚、有无转移以及邻近器官累及的情况。其临床特点是整个病程短、病情发展快和迅速恶化。最多见的是上腹部饱胀不适、疼痛。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>痛风</h5>
								<p class="indent">
									痛风是由单钠尿酸盐（MSU）沉积所致的晶体相关性关节病，与嘌呤代谢紊乱和（或）尿酸排泄减少所致的高尿酸血症直接相关，特指急性特征性关节炎和慢性痛风石疾病，主要包括急性发作性关节炎、痛风石形成、痛风石性慢性关节炎、尿酸盐肾病和尿酸性尿路结石，重者可出现关节残疾和肾功能不全。痛风常伴腹型肥胖、高脂血症、高血压、2型糖尿病及心血管病等表现。痛风最重要的生化基础是高尿酸血症。正常成人每日约产生尿酸750mg，其中80%为内源性，20%为外源性尿酸，这些尿酸进入尿酸代谢池（约为1200mg），每日代谢池中的尿酸约60%进行代谢，其中1/3约200mg经肠道分解代谢，2/3约400mg经肾脏排泄，从而可维持体内尿酸水平的稳定，其中任何环节出现问题均可导致高尿酸血症。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>结直肠癌</h5>
								<p class="indent">
									直肠癌是指从齿状线至直肠乙状结肠交界处之间的癌，是消化道最常见的恶性肿瘤之一。直肠癌位置低，容易被直肠指诊及乙状结肠镜诊断。但因其位置深入盆腔，解剖关系复杂，手术不易彻底，术后复发率高。中下段直肠癌与肛管括约肌接近，手术时很难保留肛门及其功能是手术的一个难题，也是手术方法上争论最多的一种疾病。我国直肠癌发病年龄中位数在45岁左右。青年人发病率有升高的趋势。一般在临床上应对大便出血的病人予以高度警惕，不要轻率地诊断为“痢疾”、“内痔”等，必须进一步检查以排除癌肿的可能性。对直肠癌的早期诊断，必须重视直肠指检、直肠镜或乙状结肠镜等检查方法的应用。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>卵巢癌</h5>
								<p class="indent">
									卵巢恶性肿瘤是女性生殖器官常见的恶性肿瘤之一，发病率仅次于子宫颈癌和子宫体癌而列居第三位。但卵巢上皮癌死亡率却占各类妇科肿瘤的首位，对妇女生命造成严重威胁。由于卵巢的胚胎发育、组织解剖及内分泌功能较复杂，早期症状不典型，术前鉴别卵巢肿瘤的组织类型及良恶性相当困难。卵巢恶性肿瘤中以上皮癌最多见，其次是恶性生殖细胞肿瘤。卵巢上皮癌患者手术中发现肿瘤局限于卵巢的仅占30%，大多数已扩散到子宫，双侧附件，大网膜及盆腔各器官，所以在早期诊断上是一大难题。癌症发病外部因素（包括化学、物理、生物等致癌因子）；癌症发病内部因素（包括免疫功能、内分泌、遗传、精神因素等），以及饮食营养失调和不良生活习惯等。多发生于绝经期的妇女。35岁以上者多发卵巢上皮性癌，而青年及幼年女性多为生殖细胞类恶性肿瘤。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					// window.location.href="hospital.html?id=Amer";
					return false;
				})
			})
		})
	</script>
</body>
</html>