<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-海外名医</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li class="active-nav"><a href="#">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">美国名医</a></li>
						<li><a href="#">台湾名医</a></li>
						<li><a href="#">泰国名医</a></li>
						<li><a href="#">日本名医</a></li>
						<li><a href="#">澳大利亚名医</a></li>
						<li><a href="#">西班牙名医</a></li>
						<li><a href="#">匈牙利名医</a></li>
						<li><a href="#">德国名医</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="doctortxt.html">DR.HAL DANZER 医生</a>
								<p>
									Danzer医生是一名经医学委员会认证的妇产科生殖内分泌学家，目前担任UCLA生殖内分泌和不孕研究项目的导师。他同时还担任UCLA戴维斯格芬医学院妇产科临床副教授 。Danzer 医生来自蒙大拿州，自幼就受到单人助产士的祖母的耳濡目染，年幼时与家人搬到加州生活。他在旧金山大学获得生物学学士学位，求学期间实验室的工作让他首次对内分泌产生了兴趣
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="doctortxt.html">Dr. Mark W.Surrey医生</a>
								<p>
									作为南加州试管婴儿生育中心的联合创始人兼医疗总监，Mark Surrey医生是生殖内分泌医学领域，包括生殖外科手术和体外人工受精（IVF）方面的领军人物。同时他也是美国妇产科学院院士及美国外科学学院院士。Surrey医生是生殖内分泌学家，在妇产科医学方面获得委员会认证。他在加利福尼亚大学洛杉矶分校（UCLA）的戴卫·格芬医学学院（David Geffen School of Medicine）的妇产科担任......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="doctortxt.html">DR.HAL DANZER 医生</a>
								<p>
									Danzer医生是一名经医学委员会认证的妇产科生殖内分泌学家，目前担任UCLA生殖内分泌和不孕研究项目的导师。他同时还担任UCLA戴维斯格芬医学院妇产科临床副教授 。Danzer 医生来自蒙大拿州，自幼就受到单人助产士的祖母的耳濡目染，年幼时与家人搬到加州生活。他在旧金山大学获得生物学学士学位，求学期间实验室的工作让他首次对内分泌产生了兴趣
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="doctortxt.html">Dr. Mark W.Surrey医生</a>
								<p>
									作为南加州试管婴儿生育中心的联合创始人兼医疗总监，Mark Surrey医生是生殖内分泌医学领域，包括生殖外科手术和体外人工受精（IVF）方面的领军人物。同时他也是美国妇产科学院院士及美国外科学学院院士。Surrey医生是生殖内分泌学家，在妇产科医学方面获得委员会认证。他在加利福尼亚大学洛杉矶分校（UCLA）的戴卫·格芬医学学院（David Geffen School of Medicine）的妇产科担任......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="doctortxt.html">何彦秉医生</a>
								<p>
									1993 阳明大学医学系毕业，1999 台中荣民总医院 住院医师 完讯，2001 台中荣民总医院 辅助生殖医师，2007-2008 美国斯坦福大学妇产部 研究员，2008 阳明大学 助理教师，2014 中国医药大学生殖医学中心主任及妇产部助理教授。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="doctortxt.html">Dr.Pansak Sugkraroek医生</a>
								<p>
									专业：妇科 生殖医学
								</p>
								<p>
									使用语言：英语,泰语
								</p>
								<p>
									医学院: 1974年泰国马希隆大学拉玛铁菩提医院医学博士
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="doctortxt.html">Dr.Chartchai Srisombut 医生</a>
								<p>
									专业：生殖医学、妇科
								</p>
								<p>
									使用语言：英语,泰语
								</p>
								<p>
									履历： 皇家医学院——医学博士，医学院，Ramathibodi医院，Mahidol大学
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="doctortxt.html">船曳美也子</a>
								<p>
									主要在子宫内膜方面有卓越的成就。2016年发表论文，显示了临床医生的比例在澳大利亚、新西兰和英国，目前提供或推荐子宫内膜搔抓，从8月到十月2015的生育能力。结果83%的临床医生对本次调查的建议是建议子宫内膜刮除，对于接受体外受精的女性，主要是重复植入失败。在诊所，我们有一个与宫内纤维内窥镜和刮除术子宫内膜......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="doctortxt.html">多田医生</a>
								<p>
									主要在男性不育方面有很大成就。长期针对男性精子进行潜心研究。前些天，在本院被诊断男性不育的患者中，1000人左右。调查了的病历。因夫妻受诊，精子的异常的人也很多，一次检查的诊疗结束了，不只是一味的治疗，男性方面要有积极的治疗的参加的意思。男性不育的诊察的情况，是从精子的确认开始。在医院里的不擅长采精的人......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="doctortxt.html">Bennie Ng 医生</a>
								<p>
									Bennie Ng 医生毕业于西澳大利亚大学，并获得内外全科医学士学位。Bennie是澳洲皇家医务行政学院理事、澳大利亚皇家全科医师学院理事。 Bennie 刚被任命为澳大利亚总理的社会政策主管以及健康和养老产业顾问。Bennie医生是香港医院管理局的临床服务规划部主管。澳大利亚联邦政府健康和养老部长在医 疗保险、初级护理以及养老事业的政策顾问。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<!-- <div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div> -->
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="doctortxt.html">George Toth DDS医生</a>
								<p>
									George Toth DDS博士 他的目标是成为一个最好的牙科医生，已超过10年的经验，在布达佩斯提供高质量的治疗包括先进的修复治疗（冠桥，无汞结合化妆品填料、贴面），和先进的牙科植入物，包括电力漂白，放射治疗，他是诊所的联合创始人。专门从事美容牙科，牙科植入物，镇静（笑气麻醉）和放射治疗。美容牙科包括创建一个审美的微笑与最大......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<!-- <div class="txt-top hos-title">
								<a href="#">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div> -->
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		// $(document).ready(function(e) {    //滚动的左边导航，窗口滚动时 导航固定
		// 	$(function () {  
	 //            $(window).scroll(function(){  
	 //                if ($(window).scrollTop()>0){  
	 //                	$("section .subnav").css("position","fixed");
	 //                    $("section .subnav").css('top','80px');
	 //                }  
	 //                else  
	 //                {  
	 //                	$("section .subnav").css("position","");
	 //                }  
	 //            }) 
	 //        }); 
	 //    });
	</script>
</body>
</html>