<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-海外名医</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li class="active-nav"><a href="doctortxt.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">美国名医</a></li>
						<li><a href="#">台湾名医</a></li>
						<li><a href="#">泰国名医</a></li>
						<li><a href="#">日本名医</a></li>
						<li><a href="#">澳大利亚名医</a></li>
						<li><a href="#">西班牙名医</a></li>
						<li><a href="#">匈牙利名医</a></li>
						<li><a href="#">德国名医</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>DR.HAL DANZER 医生</h5>
								<p class="thekey">优势专科：妇产科生殖内分泌学家</p>
								<p class="indent">
									Danzer医生是一名经医学委员会认证的妇产科生殖内分泌学家，目前担任UCLA生殖内分泌和不孕研究项目的导师。他同时还担任UCLA戴维斯格芬医学院妇产科临床副教授 。
								</p>
								<p class="indent">
									Danzer 医生来自蒙大拿州，自幼就受到单人助产士的祖母的耳濡目染，年幼时与家人搬到加州生活。他在旧金山大学获得生物学学士学位，求学期间实验室的工作让他首次对内分泌产生了兴趣，后来这个兴趣一直跟随者他，直到他获得圣路易斯大学医学院的医学学位。他以优等生资格毕业并被选人国家医学荣誉学会AOA。他随着来到南加州妇女医疗中心医院作为一名实习生，他又在Cedars-Sinai医疗中心完成了住院医师职位。他还完成了由UCLA与Cedars-Sinai医疗中心共同主办的生殖内分泌和不孕学科的两年研究项目。
								</p>
								<p class="indent">
									除了医院的欲诊工作之外，Danzer医师担任Cedars-Sinai医疗中心生殖内分泌专家，同时还担任Cedars-Sinai医院妇产科的主治医生。
								</p>
								<p class="indent">
									2000年，Danzer医生与Mark Surrey医生和David Hill医生一道创建了南加州生殖中心。他们设想创立一个为患者提供实验室科学和临床护理高品质服务的生育中心，同时在洛杉矶地区提供最好的内分泌专家。单责任医生重点主攻范围是：
								</p>
								<p class="indent">
									·以前试管婴儿失败的患者及具有复杂生育问题的患者
								</p>
								<p class="indent">
									·为FSH levels卵巢储备减少或FSH水平上升的患者提供自然周期和低药量的IVF周期
								</p>
								<p class="indent">
									·微刺激卵子和胚胎冷冻
								</p>
								<p class="indent">
									Danzer医生长期作为妇女健康问题的专家，他为撰写关于自然家庭生育和更年期前症状的书籍的作者之一他还在同行阅读的刊物中如生育与不孕（Fertility and Sterilily）和美国妇产期刊（the American Journal of Obstetrics and Gynecology）发表过大量文章。作为一名生育研究者，Danzer医生对提高患者成功怀孕几率、减少潜在流产机会、减低遗传疾病风险、避免多胎生产并发症的对策研究狠感兴趣。他认为对于大多数IVF患者来说，单胚胎植入则为最佳选择，这可以通过专业技能和先进技术一起来获得最佳效果。
								</p>
								<p class="indent">
									 Danzer医生被家长杂志（Parent Magazine）评为全美前10名生育专家。纽约时报（The New York Times），联系杂志（In Touch Magazine）,雅虎（Yahoo）,赫芬顿邮报（Huffington Post0，他知道网站（SheKnows.com）,精炼29（Refinery29）及马瑞路亨纳展(The Marilu Henner Show)也对他进行专题报道。他还作为专家出现在电视节目中，法律程序中，并担任消费者事务部的顾问。
								</p>
								<p class="indent">
									 Danzer医生闻名于对患者的关心，他以自己的方式对患者进行关怀，帮助减低患者的焦虑和紧张情绪从而让他们获得自信感觉。他对病人的心里和情感困扰能够感同身受，在他太太（一位著名的心理医生）的指导下他已经学会成为一名很好的倾听者。 Danzer医生和他的太太Sheri,心理医生居住在加州Brentwood,他们的两个子女都已成人。
								</p>
							</div>
							<div class="pagesxq">
								<a href="#" class="front">上一篇<span>Wendyy.Chang</span></a>
								<a href="#" class="next">下一篇<span>DR. MARK W. SURREY</span></a>
							</div>
							<!-- <ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul> -->
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>何彦秉医生</h5>
								<p class="thekey">优势专科：辅助生殖技术、 妇产部</p>
								<p class="indent">
									1993 阳明大学医学系毕业，1999 台中荣民总医院 住院医师 完讯，2001 台中荣民总医院 辅助生殖医师，2007-2008 美国斯坦福大学妇产部 研究员，2008 阳明大学 助理教师，2014 中国医药大学生殖医学中心主任及妇产部助理教授。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>Dr.Pansak Sugkraroek医生</h5>
								<p class="thekey">优势专科：妇科 生殖医学</p>
								<p class="indent"><span>专业：</span>妇科 生殖医学</p>
								<p class="indent"><span>使用语言：</span>英语,泰语</p>
								<p class="indent"><span>医学院：</span>1974年泰国马希隆大学拉玛铁菩提医院医学博士</p>
								<p class="indent">
									康民国际医院成立于1980年，是亚洲首家荣获JCI（JCI标准是全世界公认的最高医疗服务标准）认证的世界顶级医疗机构。 康民国际医院拥有国际执业认证医师1400多人，提供诊断、治疗和护理等一站式服务。医院每年就诊人数超过一百二十万人次，其中有超过五十二万人次是来自190多个国家和地区的国际病人（美国，日本，阿联酋位居前三名），十多年来康民的国际医疗享誉全球。
								</p>
								<p class="indent">
									金碧辉煌的灯光，五彩缤纷的喷泉，富丽堂皇的大厅，迎接你的是美丽的女郎，空气中弥漫着星巴克咖啡的香味。窗外，银色的沙滩和湛蓝的海水向远处绵延。这不是某著名酒店，而是被称为“五星级国际医院”的泰国康民国际医院。 这家医院，虽然外表豪华，但价格低廉，可以让国人以第三世界的价格享受优质的医疗服务。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>船曳美也子</h5>
								<p class="thekey">优势专科：子宫内膜</p>
								<p class="indent">
									主要在子宫内膜方面有卓越的成就。2016年发表论文，显示了临床医生的比例在澳大利亚、新西兰和英国，目前提供或推荐子宫内膜搔抓，从8月到十月2015的生育能力。结果83%的临床医生对本次调查的建议是建议子宫内膜刮除，对于接受体外受精的女性，主要是重复植入失败。在诊所，我们有一个与宫内纤维内窥镜和刮除术子宫内膜，又称会。我们已经实施了这个程序，因为2010，这是六年前。如果有一个子宫内膜息肉，我们将在稍后的阶段删除。如果有慢性子宫内膜异位症，我们会开适当的抗生素。尽管子宫内膜病理组织学正常，但是搔痒影响下次怀孕。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>Bennie Ng 医生</h5>
								<p class="thekey">优势专科：内外全科</p>
								<p class="indent">
									Bennie Ng 医生毕业于西澳大利亚大学，并获得 内外全科医学士学位。Bennie 是澳洲皇家医务行 政学院理事、澳大利亚皇家全科医师学院理事。 Bennie 刚被任命为澳大利亚总理的社会政策主管 以及健康和养老产业顾问。
								</p>
								<p class="indent">
									  Bennie 医生是香港医院管理局的临床服务规划 部主管。澳大利亚联邦政府健康和养老部长在医 疗保险、初级护理以及养老事业的政策顾问。
								</p>
								<p class="indent">
									 Bennie 医生曾在位于墨尔本的澳大利亚最大的 癌症中心任总经理以及医疗服务部主管，他的职 业生涯始于在澳大利亚城市和农村地区担任全科医生。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<!-- <div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div> -->
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>George Toth DDS医生</h5>
								<p class="thekey">优势专科：牙科医生</p>
								<p class="indent">
									George Toth DDS博士 他的目标是成为一个最好的牙科医生，已超过10年的经验，在布达佩斯提供高质量的治疗包括先进的修复治疗（冠桥，无汞结合化妆品填料、贴面），和先进的牙科植入物，包括电力漂白，放射治疗，他是诊所的联合创始人。专门从事美容牙科，牙科植入物，镇静（笑气麻醉）和放射治疗。美容牙科包括创建一个审美的微笑与最大功能用冠，艺术桥、单板、层压板、漂白、假牙、谐音、放射治疗，放射治疗等是最新、最先进的技术。放射治疗用于软组织校正4mhz高频电流不出血，从简单的牙龈切除术治疗露龈笑。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<!-- <div class="txt-top hos-title">
								<h5>夏里特医院</h5>
								<p class="indent">
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
								<p class="indent">
									夏里特医院分为四大医疗区域，分布在柏林的四个不同地区。医院共有100间专科医院和研究所、17个专科中心，其拥有的13000名员工使其成为柏林当之无愧的最大雇主。
								</p>
								<p class="indent">
									夏里特医院每年接纳的住院病人达14万，门诊量约60万，每月手术7000余台。2011年-2015年被德国媒体Focus评为“德国最好的综合医院”，2012年至今全德综合医院排名位居第一。
								</p>
							</div> -->
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					// window.location.href="hospital.html?id=Amer";
					return false;
				})
			})
		})
	</script>
</body>
</html>