<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-治疗实例</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li class="active-nav"><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">海外试管婴儿</a></li>
						<li><a href="#">海外冻卵</a></li>
						<li><a href="#">赴美生子</a></li>
						<li><a href="#">慢病管理</a></li>
						<li><a href="#">海外体检</a></li>
						<li><a href="#">海外治疗</a></li>
						<li><a href="#">海外医美</a></li>
						<li><a href="#">基因检测</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>48岁卵巢早衰，赴泰试管怀孕成功</h5>
								<p class="thetime">2016-10-13</p>
								<p class="indent">
									2016年4月客人电话咨询壹加医辅助生殖顾问Grace，经过对张女士的病例评估，确定为卵巢早衰，所以导致无法用自己的卵子怀孕。根据她自己的情况，Grace推荐她去泰国借卵。经过一系列准备，评估，与医生视频问诊，张女士踏上赴泰旅程。从打促排针到胚胎移植在泰国停留了14天，最后是成功配成了8个胚胎，经过GPS检测有6个着床率很高，最后确认移植了2个男胎。现已确认怀孕双胞胎男孩。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>我的冻卵日记</h5>
								<p class="thetime">2016-10-13</p>
								<p class="indent">
									冻卵第一次出现在我的脑海中，是见到了闺蜜家宝宝，30岁的她终于有了一个“小棉袄”，那一天看着熟睡小脸，突然好想拥有个宝宝。但是思绪回到现实中，“宝宝梦”还不知道要等几年，过几年我还可以生么？冻卵的想法就在此时冒出来，说做就做，经过一番咨询、搜集资料，我踏上了冻卵的旅程。
								</p>
								<p class="indent">
									在咨询过程中得知女人在没有激素促排卵的情况下，一辈子只能排出400多颗卵子，而且女人的排卵期只有30年，在医学研究的统计概率上，30岁之后的女性，无论卵子的数量还是质量，都开始回事下降，染色体异常率直线上升。到了40岁，就只剩下3%的卵子了，这也是为何高龄女性受孕率低的原因。30呀，对于来说冻卵已迫在眉睫，我仿佛听到了30岁的警钟声……
								</p>
								<p class="indent">
									一系列资料更加坚定了我的冻卵的决心，加之周围各种声音：“再不结婚，就生不了孩子了！今年赶紧结婚，明年生孩子！”莫名的有种紧迫感，冻卵---我仿佛抓到了救命稻草，看到了一副后悔药，只要我“后悔”了我随时可以把卵子取出来生娃娃。无论我什么原因晚婚，我好像更有底气了，因为我可以随时生。
								</p>
								<p class="indent">
									壹加医的医学顾问Grace为我提供了具体的流程、冻卵前的准备、以及我需要在国内做哪些身体上的检查。并且我知道他们可以提供美国、台湾、日本的冻卵服务。而且就是在我们出国前可以视频或者电话咨询境外为我取卵的医生。这样大大的消除了我的顾虑。
								</p>
								<p class="indent">
									我最终选择了去台湾冷冻卵子。
								</p>
								<p class="indent">
									于是冻卵正式拉开序幕，首先在国内选择一家三甲医院做AMH检测，是卵巢功能的评估，测验结果大于2表示卵子库存够用，小于2，表明卵巢功能已经衰退。好在我的结果大于2，长舒了一中气……
								</p>
								<p class="indent">
									正常情况下一个个人只能自然成熟1-3颗卵子，而为了取到更多的卵子，就要借助打排卵针，从而在一个周期内让更多的卵子成熟。接下来就是打促排针，在壹加医的协助下，我选择在国内打促排针，这样我只需在外待6天，大大的缩短了我在境外的时间。开始打了两针后，检测 雌激素数值很不理想（年龄大的原因吗？），于是医生又给增加了3针，心一下揪起来了，就怕取不到卵。在完成剩下的3针后，带着忐忑的心情去操虫棍，雌激素数值正常，医生说可以检测到14颗卵泡了！激动、兴奋！
								</p>
								<p class="indent">
									然后呢？然后我就可以飞台湾了。在促排期间，壹加医工作人员我办理好了入台证，然后在卵泡检测后，又快速的了医院，帮忙预定了酒店和机票，所以我就安心+放心的飞台湾啦。
								</p>
								<p class="indent">
									抵达台湾后，壹加医接机人员早已选修，帅哥还帮忙提行李，抵达酒店后，又帮忙办理入住手续，我就屁颠跟在后面。一切好了后在酒店休息了一下，司机帅哥壹加医专业顾问就带我去了医院，医生检查后打了破卵针，安排第二天上午的手术。因为打了破卵针后要在36小时内完成取卵。第二天就要上手术台了还有点忐忑不安，但是一想到将来某一天我就可以随时生一个自己的宝宝，心里还是暖暖的，充满了希望。
								</p>
								<p class="indent">
									一早醒来，帅哥司机和壹加医顾问预约好的时间抵达了酒店，接我去医院。胆子小选择了全身麻醉，所以取卵完全是我睡觉状态中进行的。醒来后，医生说手术结束了，啊？这么快，这才发现已经过了半个小时，整个过程没有任何疼痛、不舒服，原来只是用取卵针穿刺并无创作。最终很顺利的取到了12颗卵子。好开心啊！
								</p>
								<p class="indent">
									然后壹加医顾问细心的已经安排好了早餐，吃完后恢复了体力，等待医生处理完，看着这些小宝贝被冷冻起来，感觉整个世界都明亮了，从来没有的放松，感觉以后的生活充满了希望，我可以满血复活的去拼，不在有后顾之忧，年龄大生娃难不再 阻挡我追求自由的理由！我家12个宝贝在冻着呢，化了你们养的起么！哈哈！
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>怀孕5个月后，赴美生子成功</h5>
								<p class="thetime">2016-10-13</p>
								<p class="indent">
									随时近些年去美国生孩子成为热潮，刘女士和高先生也选择去美国生娃，在刘女士怀孕五个月后，高先生通过朋友介绍联系到了我们壹加医，了解清楚情况后，我们迅速为高先生和刘女士办理美国签证，并且同时联系我们美国办事处，为他们安排住宿，用车，陪同翻译人员。在一个月准备后，高先生和刘女士顺利踏上了赴美之旅。在洛杉矶我们为高先生和刘女士安排的是独栋别墅，一室一厅型，家电齐全。会有24小时随时待命的司机和陪同翻译人员，保姆每周一次去打扫卫生，陪同人员每周一次陪同去购物，陪同定期去产检。其他时候有任何问题可以和陪同人员联系，如需用车可以和司机联系。高先生在洛杉矶住了一个月，然后返回国内，刘女士一个人在那边生活，高先生会定期过去看他。在经过怀胎十月之苦后，刘女士终于产下一男婴，在宝宝诞下后，我们为宝宝办理了出生证明，户籍，然后办理护照，一切手续就绪后，刘女士和宝宝身体健康稳定，高先生就带着刘女士和宝宝回到祖国温暖的加了。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>台湾体检执行</h5>
								<p class="thetime">2016-10-13</p>
								<p class="indent">
									两位老人与在16年5月份选择了壹加医的台湾体检，在体检后与专家见面交谈时，杨先生谈到自己患有哮喘，而且在国内一直服用喷剂，而太太患有糖尿病。专家仔细询问了两位老人的病情，已经在国内接受过的治疗。并对两位老人的国内用药进行了检测，发现杨先生现在使用的哮喘喷剂已经无法维持他的病情，立刻开了台湾的新药。而也给刘女士开了现在最先进的药。然后专家有耐心的给两位讲解了各自的病情现状和平时需要的注意事项，就像杨先生说的：这不仅仅是一次体检，更是一次与专家畅聊的机会，从中两位获得的不仅仅是病情的改善，更是对健康认识的一次升华。从和医生交谈中，两位老人更加清楚如何预防其他老年病，更加清楚的认识到现在的病情及如果应对。两位对此次台湾之行非常满意，先在已经是壹加医的VIP，每年会定期去台湾做一次体检。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>58岁痛风，赴日体检，治疗痊愈</h5>
								<p class="thetime">2016-10-13</p>
								<p class="indent">
									张先生痛风多年，在2016年3月去日本体检，经过专家会诊，给张先生开了通风药，经过三个月的药物治疗，张先生痛风有明显好转，然后客人通过我们的会员VIP通道又预定了一个疗程的药，我们日本专业人士直接在医院购买后邮寄给客人。现在张先生的痛风已经基本治愈。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">日本重离子线治疗</a>
								<p class="thetime">2016-10-18</p>
								<p class="indent">
									作为从1994年开始的放射线医学综合研究所“HIMAC”的治疗成果，5年生存率如下所示。考虑到是在初级阶段的临床实验（第Ⅰ/Ⅱ期），而且是以无法手术的肿瘤、进展期肿瘤和复发的肿瘤作为主要治疗对象，已经是极为良好的成绩了。
								</p>
								<p class="indent">・前列腺癌　约95％</p>
								<p class="indent">・无法手术的Ⅰ期肺癌　约70％</p>
								<p class="indent">・头颈部恶性黑色素瘤　约50％</p>
								<p class="indent">・躯干部进展期骨肉瘤　约50％</p>
								<p class="indent">・复发性进展期肝癌　约50％</p>
								<p class="indent">・Ⅲ─Ⅳ期进展期子宫颈癌　约45％</p>
								<p class="indent">重粒子线治疗有效的组织类型</p>
								<p class="indent">对如下组织类型的癌症的有效性已得到证实。</p>
								<p class="indent">・腺癌类（腺癌、腺样囊性癌、肝细胞癌）</p>
								<p class="indent">・肉瘤类肿瘤（恶性黑色素瘤、骨与软组织肉瘤）</p>
								<p class="indent">治疗时间：开展短期小分割照射验证</p>
								<p class="indent">
									重粒子线治疗的照射剂量集中性高，较少次数的照射也容易获得治疗效果，医学界正在研究各种癌症的短期小分割照射。目前，前列腺癌、子宫癌（20次／5周照射）、头颈部肿瘤、骨与软组织肿瘤（16次／4周照射）均比传统放疗缩短约二分之一。
								</p>
								<p class="indent">有害反应：尚未发现严重的有害反应</p>
								<p class="indent">
									日本于1994年开始了重粒子线治疗，在最初的第一第二期临床实验中，以高剂量治疗的前列腺癌、子宫颈癌、食道癌病例中曾出现过消化道严重副作用的病例。后来通过临床研究，安全剂量和照射方法不断得以改进，现在已完全没有那种副作用了。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>32岁体检加美容，健康又美丽。</h5>
								<p class="thetime">2016-10-13</p>
								<p class="indent">
									王女士去日本体检之余顺便做了个美容，淡化黑眼圈和打VC。王女士在了解了体检后，随后又向我们咨询了日本医美，根据自身情况王女士选择了淡化黑眼圈和打VC的项目。提前一个月我们为王女士预约好了两家医院，然后协助王女士办理日本签证，王女士属于我们的VIP客户，我们特此为她办理了日本五年签证，话说以后去日本就可以收走就走了，预定酒店、安排用车、安排陪同翻译，准备工作一气呵成。王女士顺利抵达日本医院，先做了一天体检，第三天上午打vc，下午做黑眼圈。我们的专业陪同医护人员全程陪同，为她解答翻译和医生沟通。治疗后王女士很满意，黑眼圈消失了，整个人都光彩照人。体检加美容，健康又美丽。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>38岁基因检测，预防老年痴呆</h5>
								<p class="thetime">2016-10-13</p>
								<p class="indent">
									于女士与2015年6月做了基因检测，检测结果显示于女士患老年痴呆的风险很大，检测结果出来后，于女士也震惊了。老年痴呆？足足吓了一跳。针对检测结果，我们安排了三甲医院专家做了详细的解读，并给出相应得解决方案和注意事项。对于老年痴呆防范就要从现在开始，并且于女士针对基因检测结果有针对性的做了体检，每年会进行一次体检，对自己的身体状况了如指掌。现在的于女士已经不再害怕，而是更有信息的预防老年痴呆。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					// window.location.href="hospital.html?id=Amer";
					return false;
				})
			})
		})
	</script>
</body>
</html>