<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-治疗实例</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li class="active-nav"><a href="#">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">海外试管婴儿</a></li>
						<li><a href="#">海外冻卵</a></li>
						<li><a href="#">赴美生子</a></li>
						<li><a href="#">慢病管理</a></li>
						<li><a href="#">海外体检</a></li>
						<li><a href="#">海外治疗</a></li>
						<li><a href="#">海外医美</a></li>
						<li><a href="#">基因检测</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">48岁卵巢早衰，赴泰试管怀孕成功</a>
								<p>
									2016年4月客人电话咨询壹加医辅助生殖顾问Grace，经过对张女士的病例评估，确定为卵巢早衰，所以导致无法用自己的卵子怀孕。根据她自己的情况，Grace推荐她去泰国借卵。经过一系列准备，评估，与医生视频问诊，张女士踏上赴泰旅程。从打促排针到胚胎移植在泰国停留了14天，最后是成功配成了8个胚胎，经过GPS检测有6个着床......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">35岁染色体异常，赴台做试管婴儿求子成功</a>
								<p>
									2015年10月王女士在朋友的介绍下来到 壹加医，由于王女士染色体异常，之前怀孕过两次均胎停。在壹加医顾问Grace的帮助下，王女士与台湾专家视频问诊，经过主治医师的评估和对病例的查看，决定让王女士去台湾做试管婴儿，由“试管婴儿之父”张医师亲自为王女士治疗，在经过排卵、取卵、配成胚胎、GPS筛查后，排除......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">我的冻卵日记</a>
								<p>
									冻卵第一次出现在我的脑海中，是见到了闺蜜家宝宝，30岁的她终于有了一个“小棉袄”，那一天看着熟睡小脸，突然好想拥有个宝宝。但是思绪回到现实中，“宝宝梦”还不知道要等几年，过几年我还可以生么？冻卵的想法就在此时冒出来，说做就做，经过一番咨询、搜集资料，我踏上了冻卵的旅程。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">怀孕5个月后，赴美生子成功</a>
								<p>
									随时近些年去美国生孩子成为热潮，刘女士和高先生也选择去美国生娃，在刘女士怀孕五个月后，高先生通过朋友介绍联系到了我们壹加医，了解清楚情况后，我们迅速为高先生和刘女士办理美国签证，并且同时联系我们美国办事处，为他们安排住宿，用车，陪同翻译人员。在一个月准备后，高先生和刘女士顺利踏上了赴美之旅。在洛杉矶我们......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">台湾体检执行</a>
								<p>
									两位老人与在16年5月份选择了壹加医的台湾体检，在体检后与专家见面交谈时，杨先生谈到自己患有哮喘，而且在国内一直服用喷剂，而太太患有糖尿病。专家仔细询问了两位老人的病情，已经在国内接受过的治疗。并对两位老人的国内用药进行了检测，发现杨先生现在使用的哮喘喷剂已经无法维持他的病情，立刻开了台湾的新药。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">58岁痛风，赴日体检，治疗痊愈</a>
								<p>
									张先生痛风多年，在2016年3月去日本体检，经过专家会诊，给张先生开了通风药，经过三个月的药物治疗，张先生痛风有明显好转，然后客人通过我们的会员VIP通道又预定了一个疗程的药，我们日本专业人士直接在医院购买后邮寄给客人。现在张先生的痛风已经基本治愈。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">日本重离子线治疗</a>
								<p>
									重粒子线治疗后的5年生存率。作为从1994年开始的放射线医学综合研究所“HIMAC”的治疗成果，5年生存率如下所示。考虑到是在初级阶段的临床实验（第Ⅰ/Ⅱ期），而且是以无法手术的肿瘤、进展期肿瘤和复发的肿瘤作为主要治疗对象，已经是极为良好的成绩了。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">32岁体检加美容，健康又美丽</a>
								<p>
									王女士去日本体检之余顺便做了个美容，淡化黑眼圈和打VC。王女士在了解了体检后，随后又向我们咨询了日本医美，根据自身情况王女士选择了淡化黑眼圈和打VC的项目。提前一个月我们为王女士预约好了两家医院，然后协助王女士办理日本签证，王女士属于我们的VIP客户，我们特此为她办理了日本五年签证，话说以后去日本就......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">38岁基因检测，预防老年痴呆</a>
								<p>
									于女士与2015年6月做了基因检测，检测结果显示于女士患老年痴呆的风险很大，检测结果出来后，于女士也震惊了。老年痴呆？足足吓了一跳。针对检测结果，我们安排了三甲医院专家做了详细的解读，并给出相应得解决方案和注意事项。对于老年痴呆防范就要从现在开始，并且于女士针对基因检测结果有针对性的做了体检，每年会进......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		// $(document).ready(function(e) {    //滚动的左边导航，窗口滚动时 导航固定
		// 	$(function () {  
	 //            $(window).scroll(function(){  
	 //                if ($(window).scrollTop()>0){  
	 //                	$("section .subnav").css("position","fixed");
	 //                    $("section .subnav").css('top','80px');
	 //                }  
	 //                else  
	 //                {  
	 //                	$("section .subnav").css("position","");
	 //                }  
	 //            }) 
	 //        }); 
	 //    });
	</script>
</body>
</html>