<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-海外医院</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li class="active-nav"><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">美国医院</a></li>
						<li><a href="#">台湾医院</a></li>
						<li><a href="#">泰国医院</a></li>
						<li><a href="#">日本医院</a></li>
						<li><a href="#">澳大利亚医院</a></li>
						<li><a href="#">西班牙医院</a></li>
						<li><a href="#">匈牙利医院</a></li>
						<li><a href="#">德国医院</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>西达-赛奈医疗中心</h5>
								<p class="indent">
									西达-赛奈医疗中心(Cedars-Sinai Medical Center)建立于1902年，坐落于美国洛杉矶好莱坞比佛利山，是美国西海岸最大的非营利性医院。对于卓越的不断追求在西达-赛奈的历史中一脉相传。至2014年的连续19年中，医院在美国国家研究协会（NRC）的大洛杉矶地区综合医疗质量排名中蝉联第一。
								</p>
								<p class="indent">
									其优势学科包括心内科和心脏外科、癌症治疗、以及神经科学等，皆出于全美国的领导地位。而西达-赛奈在心脏再生医学、心脏微创手术、癌症个体化治疗、癌症免疫治疗和脑外科手术等高精尖方面的成就令人振奋。 114年历史，连续19年大洛杉矶地区综合排名第一 西达-赛奈医疗中心(Cedars-Sinai Medical Center)坐落于美国加利福尼亚州天使之城洛杉矶，由当地犹太团体于1902年建立，是美国西海岸最大的非营利性医院，拥有全美最大的心脏移植中心（例数首位）。西达-赛奈在美国国家研究协会(NRC)的大洛杉矶地区综合医疗质量排名中，连续19年蝉联第一，并且在U.S.News & World Report 洛杉矶医院排名第一。
								</p>
								<p class="indent">
									西达-赛奈总体员工10,791, 医生2,125名。优势学科例如心脏和心脏外科、神经科学以及癌症治疗等皆处于全美领导地位。一百多年来，犹太民族对于卓越的不断追求在西达-赛奈医院的历史中一脉相传。对卓越的追求使西达-赛奈不仅仅成为好莱坞及大洛杉矶地区患者青睐的医院，更是吸引了世界各地的患者。每年有来自70多个国家的1000多位国际患者来到西达-赛奈享受世界领先的医疗服务。医院国际健康中心（Center for International Health) 的中国团队提供专业的中文和文化帮助，竭尽所能为中国患者提供便利. 西达-赛奈心脏中心 西达-赛奈是全美临床医学领域的先驱。
								</p>
								<p class="indent">
									连续三年，西达-赛奈蝉联全美最大成人心脏移植中心，其手术量遥遥领先美国其他医院。在心肌埂塞治疗方面，研究人员正在扩大研究利用患者自身心脏干细胞再生健康心肌细胞以修复心脏受损部位，并已将早期临床成果发表于权威期刊杂志《柳叶刀》。干细胞治疗可以减少心肌埂塞引起的坏死心肌组织平均约50%。这一试验性疗法是唯一经证明有效的心肌更赛后再生健康心肌的治疗方法。 Samuel Oschin 综合癌症中心 西达-赛奈医疗中心采用两种新一代基因测序技术，使其立于个体化精准医疗的最前沿，比传统的技术更为快捷，且花费更少。这个技术可以用于晚期癌症患者和临床试验患者筛选，也可用于罕见的、极具侵袭性的或临床表现不典型的癌症患者。同时西达-赛奈的纳米医学研究中心利用纳米科技推动癌症诊断，治疗和预防的发展。
								</p>
								<p class="indent">
									乳腺癌方面，西达-赛奈的Armando Giuliano博士发明了前哨淋巴结扫除术以及多项突破性的乳腺癌手术，不但为乳腺癌患者降低了复发率、延长生命，更是减少切除可能而使乳腺癌的手术治疗能不影响外观保留女性优美形体。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>台北荣民总医院</h5>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。
								</p>
								<p class="indent">
									台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
								<p class="indent">
									台北荣总在成立之初，床位约有600余张，只服务退役官兵，后来逐步向社会开放，现在每日门诊10000人次，床位3000余张。共有医师960多位，护理人员2200多位，总员工数达5000多人，1971年并成立阳明医学院培养医疗人材。
								</p>
								<p class="indent">
									目前台北荣总的主要建筑有中正楼、思源楼、长青楼、第一、二、三门诊大楼、致德楼、神经再生中心、身障中心、动力中心等。是台北市北投区与士林区的大型医院。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>泰国康民国际医院</h5>
								<p class="indent">
									康民国际医院成立于1980年，是亚洲首家荣获JCI（JCI标准是全世界公认的最高医疗服务标准）认证的世界顶级医疗机构。 康民国际医院拥有国际执业认证医师1400多人，提供诊断、治疗和护理等一站式服务。医院每年就诊人数超过一百二十万人次，其中有超过五十二万人次是来自190多个国家和地区的国际病人（美国，日本，阿联酋位居前三名），十多年来康民的国际医疗享誉全球。
								</p>
								<p class="indent">
									金碧辉煌的灯光，五彩缤纷的喷泉，富丽堂皇的大厅，迎接你的是美丽的女郎，空气中弥漫着星巴克咖啡的香味。窗外，银色的沙滩和湛蓝的海水向远处绵延。这不是某著名酒店，而是被称为“五星级国际医院”的泰国康民国际医院。 这家医院，虽然外表豪华，但价格低廉，可以让国人以第三世界的价格享受优质的医疗服务。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>国立癌症研究中心医院</h5>
								<p class="indent">
									国立癌症研究中心医院（日文名：国立がん研究センタ），是日本的癌症对抗核心机构，是日本著名的肿瘤专科医院, 直属国家卫生部领导。
								</p>
								<p class="indent">
									创建于1961年，昭和36年，位于东京中央区的筑地5-1-1，拥有600张病床，1992年成立的国立癌症中心东医院位于东京，拥有425张病床。位于东京的中心地带，毗邻银座。是日本也是世界上屈指可数的癌症对抗中心之一。
								</p>
								<p class="indent">
									医院拥有国内先进的检验中心、诊疗设备、专家团队和服务理念，综合实力和医疗品质在日本癌症检测和治疗领域首屈一指。是集癌症治疗、癌症预防和研究为一体的综合性医院，以癌症的预防、早期发现、早期治疗为目标。
								</p>
								<p class="indent">
									1992年在千叶县柏市成立了国立癌症中心东医院，同时原来的医院改为国立癌症中心中央病院，1994年还设立了研究所分所。国立癌症中心成立以来，不仅是日本也是世界上都是屈指可数的癌症对抗中心之一。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>艾尔弗雷德医院</h5>
								<p class="indent">
									ALFRED HOSPITAL，艾尔弗雷德医院 它在研究方面的力量非常强大，很多新的药物研究，以及新的治疗方法，都是在ALFRED开始实践的。它的各个科室都貌似非常强大. ALFRED 是维多利亚州唯一一个接收烧伤和MAJOR TRAFIC ACCIDENT的医院。
								</p>
								<p class="indent">
									ALFRED也是唯一做HEART & LUNG TRANSPLANT的医院。所以大家如果留心的话，可以看到有背着小背包的病人在医院穿行。那是背着人工心脏泵的病人，都是在等心脏移值手术的病人。那个小机器就是他们的心脏。其他医院是不会接收他们的，没有经验的医护人员也会被他们吓到，因为他们没有血压，没有心跳 ，都是靠这个小机器不停的泵血来维持生命的。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<!-- <div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p class="indent">
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div> -->
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>TriDent Budapest</h5>
								<p class="indent">
									Trident Budapest 是布达佩斯著名的牙科诊所，成立于1995，是一家族企业。该诊所全计算机化，拥有拍片室和两个候车室。使用最新的技术设备，每个牙医都受过良好的训练。
								</p>
								<p class="indent">
									受到来自欧洲西部和美国北部的患者的青睐。他们满意的不仅是服务，而且这使她们节省了相当数量的费用，一般牙齿治疗费用在6-10000欧元，而Trident Budapest只需2500欧元左右，而且包含了牙齿X射线。相信性价比高而且服务一流的Trident Budapest是你牙齿整形和美容的不二之选。 乔治博士是诊所的创始人之一，他负责讲英语的病人。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<h5>夏里特医院</h5>
								<p class="indent">
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
								<p class="indent">
									夏里特医院分为四大医疗区域，分布在柏林的四个不同地区。医院共有100间专科医院和研究所、17个专科中心，其拥有的13000名员工使其成为柏林当之无愧的最大雇主。
								</p>
								<p class="indent">
									夏里特医院每年接纳的住院病人达14万，门诊量约60万，每月手术7000余台。2011年-2015年被德国媒体Focus评为“德国最好的综合医院”，2012年至今全德综合医院排名位居第一。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					// $("#service .servicetxt:visible").hide();
					// $("#service .servicetxt:eq(" + index + ")").show();
					window.location.href="hospital.html?id=Amer";
					return false;
				})
			})
		})
	</script>
</body>
</html>