<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-海外医院</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li class="active-nav"><a href="#">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">美国医院</a></li>
						<li><a href="#">台湾医院</a></li>
						<li><a href="#">泰国医院</a></li>
						<li><a href="#">日本医院</a></li>
						<li><a href="#">澳大利亚医院</a></li>
						<li><a href="#">西班牙医院</a></li>
						<li><a href="#">匈牙利医院</a></li>
						<li><a href="#">德国医院</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">西达-赛奈医疗中心</a>
								<p>
									西达-赛奈医疗中心(Cedars-Sinai Medical Center)建立于1902年，坐落于美国洛杉矶好莱坞比佛利山，是美国西海岸最大的非营利性医院。对于卓越的不断追求在西达-赛奈的历史中一脉相传。至2014年的连续19年中，医院在美国国家研究协会（NRC）的大洛杉矶地区综合医疗质量排名中蝉联第一。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">西达-赛奈医疗中心</a>
								<p>
									西达-赛奈医疗中心(Cedars-Sinai Medical Center)建立于1902年，坐落于美国洛杉矶好莱坞比佛利山，是美国西海岸最大的非营利性医院。对于卓越的不断追求在西达-赛奈的历史中一脉相传。至2014年的连续19年中，医院在美国国家研究协会（NRC）的大洛杉矶地区综合医疗质量排名中蝉联第一。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">西达-赛奈医疗中心</a>
								<p>
									西达-赛奈医疗中心(Cedars-Sinai Medical Center)建立于1902年，坐落于美国洛杉矶好莱坞比佛利山，是美国西海岸最大的非营利性医院。对于卓越的不断追求在西达-赛奈的历史中一脉相传。至2014年的连续19年中，医院在美国国家研究协会（NRC）的大洛杉矶地区综合医疗质量排名中蝉联第一。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">西达-赛奈医疗中心</a>
								<p>
									西达-赛奈医疗中心(Cedars-Sinai Medical Center)建立于1902年，坐落于美国洛杉矶好莱坞比佛利山，是美国西海岸最大的非营利性医院。对于卓越的不断追求在西达-赛奈的历史中一脉相传。至2014年的连续19年中，医院在美国国家研究协会（NRC）的大洛杉矶地区综合医疗质量排名中蝉联第一。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">泰国康民国际医院</a>
								<p>
									康民国际医院成立于1980年，是亚洲首家荣获JCI（JCI标准是全世界公认的最高医疗服务标准）认证的世界顶级医疗机构。 康民国际医院拥有国际执业认证医师1400多人，提供诊断、治疗和护理等一站式服务。医院每年就诊人数超过一百二十万人次，其中有超过五十二万人次是来自190多个国家和地区的国际病人（美国，日本，阿联酋位居前三名），十多年来康民的国际医疗享誉全球。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">泰国康民国际医院</a>
								<p>
									康民国际医院成立于1980年，是亚洲首家荣获JCI（JCI标准是全世界公认的最高医疗服务标准）认证的世界顶级医疗机构。 康民国际医院拥有国际执业认证医师1400多人，提供诊断、治疗和护理等一站式服务。医院每年就诊人数超过一百二十万人次，其中有超过五十二万人次是来自190多个国家和地区的国际病人（美国，日本，阿联酋位居前三名），十多年来康民的国际医疗享誉全球。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">泰国康民国际医院</a>
								<p>
									康民国际医院成立于1980年，是亚洲首家荣获JCI（JCI标准是全世界公认的最高医疗服务标准）认证的世界顶级医疗机构。 康民国际医院拥有国际执业认证医师1400多人，提供诊断、治疗和护理等一站式服务。医院每年就诊人数超过一百二十万人次，其中有超过五十二万人次是来自190多个国家和地区的国际病人（美国，日本，阿联酋位居前三名），十多年来康民的国际医疗享誉全球。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">泰国康民国际医院</a>
								<p>
									康民国际医院成立于1980年，是亚洲首家荣获JCI（JCI标准是全世界公认的最高医疗服务标准）认证的世界顶级医疗机构。 康民国际医院拥有国际执业认证医师1400多人，提供诊断、治疗和护理等一站式服务。医院每年就诊人数超过一百二十万人次，其中有超过五十二万人次是来自190多个国家和地区的国际病人（美国，日本，阿联酋位居前三名），十多年来康民的国际医疗享誉全球。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">国立癌症研究中心医院</a>
								<p>
									国立癌症研究中心医院（日文名：国立がん研究センタ），是日本的癌症对抗核心机构，是日本著名的肿瘤专科医院, 直属国家卫生部领导。创建于1961年，昭和36年，位于东京中央区的筑地5-1-1，拥有600张病床，1992年成立的国立癌症中心东医院位于东京，拥有425张病床。位于东京的中心地带，毗邻银座。是日本也是世界上屈指可数的癌症对抗中心之一。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">国立癌症研究中心医院</a>
								<p>
									国立癌症研究中心医院（日文名：国立がん研究センタ），是日本的癌症对抗核心机构，是日本著名的肿瘤专科医院, 直属国家卫生部领导。创建于1961年，昭和36年，位于东京中央区的筑地5-1-1，拥有600张病床，1992年成立的国立癌症中心东医院位于东京，拥有425张病床。位于东京的中心地带，毗邻银座。是日本也是世界上屈指可数的癌症对抗中心之一。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">国立癌症研究中心医院</a>
								<p>
									国立癌症研究中心医院（日文名：国立がん研究センタ），是日本的癌症对抗核心机构，是日本著名的肿瘤专科医院, 直属国家卫生部领导。创建于1961年，昭和36年，位于东京中央区的筑地5-1-1，拥有600张病床，1992年成立的国立癌症中心东医院位于东京，拥有425张病床。位于东京的中心地带，毗邻银座。是日本也是世界上屈指可数的癌症对抗中心之一。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">国立癌症研究中心医院</a>
								<p>
									国立癌症研究中心医院（日文名：国立がん研究センタ），是日本的癌症对抗核心机构，是日本著名的肿瘤专科医院, 直属国家卫生部领导。创建于1961年，昭和36年，位于东京中央区的筑地5-1-1，拥有600张病床，1992年成立的国立癌症中心东医院位于东京，拥有425张病床。位于东京的中心地带，毗邻银座。是日本也是世界上屈指可数的癌症对抗中心之一。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">艾尔弗雷德医院</a>
								<p>
									ALFRED HOSPITAL，艾尔弗雷德医院 它在研究方面的力量非常强大，很多新的药物研究，以及新的治疗方法，都是在ALFRED开始实践的。它的各个科室都貌似非常强大. ALFRED 是维多利亚州唯一一个接收烧伤和MAJOR TRAFIC ACCIDENT的医院。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">艾尔弗雷德医院</a>
								<p>
									ALFRED HOSPITAL，艾尔弗雷德医院 它在研究方面的力量非常强大，很多新的药物研究，以及新的治疗方法，都是在ALFRED开始实践的。它的各个科室都貌似非常强大. ALFRED 是维多利亚州唯一一个接收烧伤和MAJOR TRAFIC ACCIDENT的医院。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">艾尔弗雷德医院</a>
								<p>
									ALFRED HOSPITAL，艾尔弗雷德医院 它在研究方面的力量非常强大，很多新的药物研究，以及新的治疗方法，都是在ALFRED开始实践的。它的各个科室都貌似非常强大. ALFRED 是维多利亚州唯一一个接收烧伤和MAJOR TRAFIC ACCIDENT的医院。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">艾尔弗雷德医院</a>
								<p>
									ALFRED HOSPITAL，艾尔弗雷德医院 它在研究方面的力量非常强大，很多新的药物研究，以及新的治疗方法，都是在ALFRED开始实践的。它的各个科室都貌似非常强大. ALFRED 是维多利亚州唯一一个接收烧伤和MAJOR TRAFIC ACCIDENT的医院。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<!-- <div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">台北荣民总医院</a>
								<p>
									台北荣民总医院是一家位于台湾台北市的公立医院，1958年7月1日成立，1959年11月1日正式营业，直属行政院国军退除役官兵辅导委员会（退辅会）管辖，下辖各地荣民医院。台北院区又简称为台北荣总。占地面积302,216公顷，总建筑面积511，364平方米，1985年台湾第一个试管婴儿在该院出生。
								</p>
							</div> -->
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">TriDent Budapest</a>
								<p>
									Trident Budapest 是布达佩斯著名的牙科诊所，成立于1995，是一家族企业。该诊所全计算机化，拥有拍片室和两个候车室。使用最新的技术设备，每个牙医都受过良好的训练。受到来自欧洲西部和美国北部的患者的青睐。他们满意的不仅是服务，而且这使她们节省了相当数量的费用，一般牙齿治疗费用在6-10000欧元，而Trident Budapest只需2500欧元左右，而......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">TriDent Budapest</a>
								<p>
									Trident Budapest 是布达佩斯著名的牙科诊所，成立于1995，是一家族企业。该诊所全计算机化，拥有拍片室和两个候车室。使用最新的技术设备，每个牙医都受过良好的训练。受到来自欧洲西部和美国北部的患者的青睐。他们满意的不仅是服务，而且这使她们节省了相当数量的费用，一般牙齿治疗费用在6-10000欧元，而Trident Budapest只需2500欧元左右，而......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">TriDent Budapest</a>
								<p>
									Trident Budapest 是布达佩斯著名的牙科诊所，成立于1995，是一家族企业。该诊所全计算机化，拥有拍片室和两个候车室。使用最新的技术设备，每个牙医都受过良好的训练。受到来自欧洲西部和美国北部的患者的青睐。他们满意的不仅是服务，而且这使她们节省了相当数量的费用，一般牙齿治疗费用在6-10000欧元，而Trident Budapest只需2500欧元左右，而......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">TriDent Budapest</a>
								<p>
									Trident Budapest 是布达佩斯著名的牙科诊所，成立于1995，是一家族企业。该诊所全计算机化，拥有拍片室和两个候车室。使用最新的技术设备，每个牙医都受过良好的训练。受到来自欧洲西部和美国北部的患者的青睐。他们满意的不仅是服务，而且这使她们节省了相当数量的费用，一般牙齿治疗费用在6-10000欧元，而Trident Budapest只需2500欧元左右，而......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="hospitaltxt.html">夏里特医院</a>
								<p>
									柏林自由大学和洪堡大学附属夏里特（Charité）医院是欧洲最大医疗机构，拥有300余年的悠久历史。院内从事研究、教学和治疗的专业人员都处于国际顶级水平，德国诺贝尔医学和生理学奖得主中就有一半来自夏里特医院，包括埃米尔·冯·贝林、罗伯特·科赫和保罗·埃尔利希等。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
	</script>
</body>
</html>