<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-新闻动态</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li><a href="serviceItem.html">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li class="active-nav"><a href="#">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav">
						<li class="sub-active"><a href="#">公司动态</a></li>
						<li><a href="#">行业新闻</a></li>
						<li><a href="#">最新药物</a></li>
						<li><a href="#">常见问题</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9 theme">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">美国专家辅助生殖说明会于京召开</a>
								<p class="thetimetitle">2016-12-05</p>
								<p>
									2016年美国辅助生殖说明会，于11月28日上午9:30，在北京宝岛妇产医院尊荣厅召开。本次会议由壹加医国际健康管理有限公司主办，北京宝岛妇产医院协办。会议旨在促进中美辅助生殖技术的交流发展、促进人们对辅助生殖技术的深入了解。会议开始......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">壹加医国际医疗绿色平台落地内蒙古圆满落幕</a>
								<p class="thetimetitle">2016-12-05</p>
								<p>
									11月30日，“2016海外医疗高峰论坛暨壹加医国际医疗绿色平台落地内蒙古”活动在呼和浩特成功举办！国际医学界权威专家、自治区重点企业负责人、各行业协会要员及各大媒体共聚一堂共同见证了独具共享性、平台性、互动性的全区首家国际海外医疗......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">壹加医：整合海外医疗资源，打造国际健康管理平台</a>
								<p class="thetimetitle">2016-12-05</p>
								<p>
									10月20号，壹加医（北京）国际健康管理有限公司（以下简称“壹加医”）邀请台湾著名医师龚财福在北京举办了台湾医疗健康方面的交流会，实现了海外优质医疗资源与国内用户的零距离对接。在下午，龚财福医师也与北京宝岛医院的数名教授进行了深......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">2016年生殖健康多学科协作(MDT)峰会成功举办</a>
								<p class="thetimetitle">2016-12-05</p>
								<p>
									7月17日，2016年生殖健康多学科协作(MDT)峰会在清华大学成功举办。国内外生殖医学专家、健康投资、新闻媒体人士共150多人参加峰会。本次峰会由清华大学学生健康产业研究会携手健康产业研究社、北京宝岛妇产医院、恒爱高科(北京)科技有限公司......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">2016国际辅助生殖技术高峰论坛成功举办</a>
								<p class="thetimetitle">2016-12-05</p>
								<p>
									推动辅助生殖技术跨国、跨地区合作，加强国际交流和交叉合作，实现国内技术、需求与国际优质资源对接的高端平台——2016(北京)国际辅助生殖技术高峰论坛于6月16日在京开幕。记者从论坛上了解到，本次论坛由中国妇幼保健协会、北京医学会主办......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">[前沿] 日本研发止血手术刀 将用于神经外科</a>
								<p class="thetimetitle">2016-10-19</p>
								<p>
									神外前沿讯，据日经技术在线报道，日本大型企业日机装计划投放微波设备“Acrosurge”，是一种在外科手术中用来切除组织和进行止血的器具。该产品实现了可避免对周边组织产生影响、不会过度烧灼的病变切断性能，以及较高的止血性能。该产品将......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">澳大利亚：帕金森治疗试验预计明年成功</a>
								<p class="thetimetitle">2016-10-19</p>
								<p>
									一家澳大利亚生物科技公司——活细胞技术公司计划明年其在奥克兰的临床试验成功后，以“医疗旅游”模式治疗帕金森病病人。18例病人正在奥克兰大学和默西医院（Mercy Hospital）进行11b阶段再生细胞疗法NTCELL临床试验，这是世界上第一个针对帕金森......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">澳洲医疗又发大招了：近视，甚至失明都不在话下！</a>
								<p class="thetimetitle">2016-10-19</p>
								<p>有人把失明看做是人们仅次于死亡的第二大不幸！</p>
								<p>确实如此，盲人需要承受的不仅仅是看不见的痛苦，更多的煎熬来自于心理的恐惧。</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">癌症病人有救了，澳洲抗癌新药上市发售！</a>
								<p class="thetimetitle">2016-10-19</p>
								<p>
									年初的时候，《澳洲微报》就报道了一种澳洲抗癌药物，可以有效溶解癌症细胞，并且治愈白血病。据最新报道显示，这款新型治疗白血病和其他癌症的药物已经获得了美国食品和药物管理局FDA的批准，正式在美国上市。无独有偶，近期澳洲网报道......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">新PG，新选择 ——最新结构前列腺素类药物泰普罗斯正式登陆中国</a>
								<p class="thetimetitle">2016-10-19</p>
								<p>
									青光眼是全球最常见的致盲性疾病之一，其对患者的视觉和生活质量造成严重影响。青光眼治疗的根本为降低眼压，药物治疗是最常用的降眼压手段，前列腺素（PG）类药物具有最强的降眼压幅度，被众多指南共识一致推荐为治疗开角型青光眼的一线用......
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">乳腺癌有哪些新型靶向药物？</a>
								<p class="thetimetitle">2016-10-19</p>
								<p>
									最近我作为顾问，参与了“肿瘤知道”平台的搭建，它背后是一群我挺喜欢，正在创业的同龄人。"肿瘤知道“的理想很大：打造肿瘤界的阿尔法狗（AlphaGo）。为了配合它最新推出的新药智能推荐引擎，我和科普小伙伴一起写了10篇文章，分别介绍全世......
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
						<div class="servicetxt">
							<div class="txt-top hos-title">
								<a href="#">造小人失败？你该做这些检查！</a>
								<p class="thetimetitle">2016-11-04</p>
								<p>
									挖掘海外优质医疗资源，为你提供健康解决方案，当发生不孕不育时，夫妻双方都要进行检查，查找原因。其中，实验室检查是必不可少的一项内容。
								</p>
							</div>
							<div class="txt-top hos-title">
								<a href="#">X光片、CT、MRI 这三种影像检查该如何选择，你知道吗？</a>
								<p class="thetimetitle">2016-10-19</p>
								<p>
									X光检查是传统的影像学检查手段，它是应用较早、最普遍，价格也相对便宜。主要用于一些疾病的初步检查，便于发现较明显病变的组织和结构，是疾病初筛的首选检查方式。
								</p>
							</div>
							<ul class="pagination " id="page">
							    <li><a href="#">首页</a></li>
							    <li><a href="#">上一页</a></li>
							    <!-- <li class="disabled"><a href="#">1</a></li> -->
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">下一页</a></li>
							    <li><a href="#">尾页</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		// $(document).ready(function(e) {    //滚动的左边导航，窗口滚动时 导航固定
		// 	$(function () {  
	 //            $(window).scroll(function(){  
	 //                if ($(window).scrollTop()>0){  
	 //                	$("section .subnav").css("position","fixed");
	 //                    $("section .subnav").css('top','80px');
	 //                }  
	 //                else  
	 //                {  
	 //                	$("section .subnav").css("position","");
	 //                }  
	 //            }) 
	 //        }); 
	 //    });
	</script>
</body>
</html>