<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<title>壹加医-服务项目</title>
	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/tongyong.css"> -->
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default navbar thenavbar" role="navigation">
				<div class="container-fluid fluid-lg">
					<div class="navbar-header ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
							<span class="sr-only">切换导航</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="../index.html" class="navbar-brand logo">
							<img src="../images/logo.png" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse thecollapse" id="thenav">
						<div class="navRight">
							<ul class="nav navbar-nav ">
								<li><a href="../index.html">首页</a></li>
								<li class="active-nav"><a href="#">服务项目</a></li>
								<li><a href="cure.html">海外治疗</a></li>
								<li><a href="hospital.html">海外医院</a></li>
								<li><a href="doctor.html">海外名医</a></li>
								<li><a href="publicGood.html">社会公益</a></li>
								<li><a href="news.html">新闻动态</a></li>
								<li><a href="example.html">治疗实例</a></li>
								<li><a href="about.html">关于我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3">
					<ul class="subnav" data-spy="" data-offset-top="0">
						<li class="sub-active"><a href="#">海外试管婴儿</a></li>
						<li><a href="#">海外冻卵</a></li>
						<li><a href="#">赴美生子</a></li>
						<li><a href="#">慢病管理</a></li>
						<li><a href="#">海外体检</a></li>
						<li><a href="#">海外治疗</a></li>
						<li><a href="#">海外医美</a></li>
						<li><a href="#">基因检测</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-9">
					<div id="service">
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/sgyepic.jpg" alt="" class="txtpic">
								<p class="indent">
									壹加医IVF试管婴儿项目，汇集全球最顶尖的辅助生殖医疗专家，积极引进现代化医疗保健理念，规范化的医疗管理体系、多元化的营销渠道，整合包括美国、泰国及台湾试管婴儿医学领域、科技领域内的优质资源，根据不孕不育客户自身情况定制更符合个人或家庭特点的个性化的治疗、药物、调养方案及高成功率的手术方案，为更多高端群体提供更优质、更安全、更高效的海外试管婴儿医疗服务。	
								</p>
							</div>
							<div class="detail">
								<ul class="submenu">
									<li class="subm-active"><a href="#">关于试管婴儿</a></li>
									<li><a href="#">我们提供的服务</a></li>
									<li><a href="#">我们的优势</a></li>
									<li><a href="#">全面贴心的服务</a></li>
									<li><a href="#">服务流程</a></li>
								</ul>
								<hr>
							</div>
							<div class="content">
								<div class="contenttxt">
									<h4>1、试管婴儿技术的安全性</h4>
									<p class="indent">试管婴儿技术是辅助生殖领域最新科技成果，是解决不孕不育不可代替的途径之一。</p>
									<p class="indent">
										从1978年诞生全球第一个试管婴儿以来，目前全世界拥有500多万个试管婴儿，并且很多人都已经结婚生子，身体健康，一切正常。医学家对通过试管婴儿技术出生的人群进行长期系统化的观察和研究，其结果证实：通过试管婴儿技术出生的人类，完全和正常出生的孩子一样安全、健康。
									</p>
									<h4>2、试管婴儿技术的发展</h4>
									<p class="indent">
										试管婴儿技术发展到今天，已经历经三代。在传统一代和二代试管婴儿技术的基础上，利用近代先进的生物基因检测技术PGD/PGS，对早期胚胎进行基因检测及染色体疾病监测，形成了最新革命性突破的三代技术。第三代试管婴儿技术极大的提高了试管婴儿手术的成功率，并且有效地避免了带有疾病隐患的胚胎植入母体，使父母能够安心孕育健康的宝宝；三代技术还可以百分之百准确的判断胚胎的性别，进行生育性别的选择。而美国、泰国、台湾一直领先试管婴儿技术前沿，美国成功率可达80%-85%，为全球最高，台湾、泰国可达50%-60%。
									</p>
									<h4>3、第三代试管婴儿技术优势</h4>
									<p class="indent">
										第三代试管婴儿技术可以进行植入前胚胎遗传疾病、先天疾病的检测，使优生优育得到最完美的保障。而一、二代技术无法有效避免带有遗传疾病或先天疾病的胚胎植入母体，让孩子和父母未来充满巨大风险。
									</p>
									<p class="indent">
										第三代试管婴儿技术可为有生育性别要求的夫妻提供婴儿生育性别的选择(备注：我们只提供具有法律许可的国家进行性别选择) 。
									</p>
								</div>
								<div class="contenttxt">
									<p class="indent">1、提供美国、泰国、台湾试管婴儿咨询服务，为您解答赴美、泰、台试管婴儿的提问。</p>
									<p class="indent">2、利用我们广泛的全球资源平台，为您寻找最合适的海外医院、医生和专家。</p>
									<p class="indent">3、协助客户做好全面孕前检查，确保结果准确无误。</p>
									<p class="indent">4、将检查发送给海外资深试管婴儿专家做初步评估。</p>
									<p class="indent">5、专家组对检查结果进行科学评估，并制定个性化整体治疗方案。</p>
									<p class="indent">6、提前预约海外权威专家，并陪护客户做好前期检查和治疗。</p>
									<p class="indent">7、根据夫妻双方制定孕前、孕期、产后全程健康管理。</p>
									<p class="indent">8、为夫妻双方制定完整就医行程，办签证，确保拥有足够的时间实现精准的疗程。</p>
								</div>
								<div class="contenttxt">
									<h4>1、顶级技术团队</h4>
									<p class="indent">
										美国、泰国、台湾三代试管婴儿技术(IVF)起步最早、起点很高，壹加医合作医院医生都是地区乃至世界著名试管婴儿领域权威专家。
									</p>
									<h4>2、更先进的设备</h4>
									<p class="indent">
										壹加医签约合作的海外医院的医疗设备均按国际标准配置，精细化程度高，操作程序严格。先进的IVF设备能够更清楚的观察每个胚胎的生长发育状态，优选胚胎，且胚胎独立保存于各设备中不被干扰，有效提高成功率和保障婴儿健康，既安全又高效。
									</p>
									<h4>3、更领先的技术</h4>
									<p class="indent">
										海外的第三代PGD技术，最显著的贡献就是能够在胚胎初期预测125种遗传或基因疾病，防患于未然。通过高科技筛选优质胚胎，遗传最优质的基因，不但解决不孕不育疾病，而且利用精确基因优选法，让每一个父母都能拥有一个最优质的、健康聪明的宝宝。
									</p>
									<h4>4、更安全的药物</h4>
									<p class="indent">
										壹加医合作的海外医疗机构所用的促卵药物与其他辅助类药物均采用国际最前沿、高安全性药物，药效好，安全性高，对于母体安全起到最佳的保护作用。
									</p>
									<h4>5、更适合您的方案</h4>
									<p class="indent">
										壹加医合作的每家海外医院都有他们自身的优势，每个专家都有不同的专长，而做试管婴儿的每对夫妻，不论从体质、症状、年龄等方面条件都各不相同，壹加医会根据不同人群不孕不育的不同病因，为客户个人及夫妻制定更为个性化的高成功率的试管婴儿治疗方案。
									</p>
								</div>
								<div class="contenttxt">
									<h4>1、多样化"好孕"选择</h4>
									<p class="indent">美国：宽松的政策保护，允许胎儿男女选择，允许多胞胎选择，允许第三方"妊娠代孕"，捐精捐卵，且拥有全球最高成功率。</p>
									<p class="indent">泰国：可实现第三方捐精、捐卵服务，成功率仅次于美国，签证手续简便。</p>
									<p class="indent">台湾：可实现第三方捐精、捐卵服务，沟通无障碍，成功率高，严谨的医疗态度，行程方便。</p>
									<h4>2、前期心理辅导</h4>
									<p class="indent">
										壹加医首先安排专业医疗人员给夫妻双方做专业的心理辅导，让夫妻双方保持快乐心情，良好的生活习惯，健康的心理状态，使孕妇在受精期、胚胎期、植入期毫无心理压力，就医环境优雅、药物安全可靠，从而使不孕不育人群处于最佳孕育状态，从而大大提高了试管婴儿成功率，这也是大多数国内高端人群选择海外试管婴儿的原因。
									</p>
									<h4>3、前期心理辅导医疗团队全方位调理</h4>
									<p class="indent">
										每对夫妻，不论从体质、症状、年龄等方面条件都各不相同，壹加医资深试管婴儿专家团队，前期会从工作压力、运动量、饮食、保健、中医多个方面为每一对夫妻量身定制调理方案。全方位的调理、有效提高试管婴儿成功率。
									</p>
									<h4>4、海外医疗陪护全程陪同</h4>
									<p class="indent">
										美国、泰国、台湾均有壹加医的专职医疗陪同人员从下飞机的那一刻陪护在您身边，在生活、起居、专家沟通等方面提供全面周到的服务，让您全程无忧。
									</p>
								</div>
								<div class="contenttxt">
									<h4>1、台湾试管婴儿服务流程</h4>
									<a href="download/taiwanshiguanyinger.zip" class="btn btn-default download">点击下载</a>
									<h4>2、美国、泰国试管婴儿服务流程</h4>
									<a href="download/meitaishituanyinger.zip" class="btn btn-default download">点击下载</a>
								</div>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/hwdlpic.jpg" alt="" class="txtpic">
								<p class="indent">
									卵细胞冷冻保存是采取特殊的保护措施和降温程序，使卵细胞在-196℃的条件下，停止代谢，而升温后又不失去代谢恢复能力的一种长期保存卵细胞的技术。	
								</p>
								<p class="indent">
									壹加医（北京）国际健康管理有限公司在海外冻卵方面有着天然的优势，我们与海外多家辅助生殖医院有着紧密的、一对一的合作，我们的优势主要体现在以下几个方面：	
								</p>
								<p class="indent">
									<span>专业化：</span>海外名医加盟，客人和医生无缝对接；
									<span>权威性：</span>全球最顶尖的技术和知名医院做保障；
									<span>服务优：</span>高私密度、高个性化、高尊贵感；
									<span>分布广：</span>美国、日本、泰国、中国台湾随心选择。
								</p>
							</div>
							<div class="detail">
								<ul class="submenu">
									<li class="subm-active"><a href="#">冻卵介绍</a></li>
									<li><a href="#">谁该冻卵了</a></li>
									<li><a href="#">冻在哪里会安心</a></li>
									<li><a href="#">台湾冻卵</a></li>
									<li><a href="#">服务流程</a></li>
								</ul>
								<hr>
							</div>
							<div class="content">
								<div class="contenttxt">
									<h4>冷冻卵子原理</h4>
									<p class="indent">
										低温冷冻保存的细胞呈长期保存而不丧失活性，其原因是因为细胞内一切新陈代谢过程中的化学反应被低温所抑制，细胞内所有化学变化处于一种“暂停”状态而使细胞得以长期保存，低温保存的细胞以一定方式复苏后，又具有存活的能力。
									</p>
									<p class="indent">
										细胞的冷冻保存并不在于能否长期耐受低温，而是在于冷冻和解冻时对细胞的致死性作用（致死性温度区-50~-15℃）。
									</p>
									<h4>冷冻卵子的优势</h4>
									<p class="indent">冷冻卵子可以保存卵细胞的生命力。</p>
									<h4>3、第三代试管婴儿技术优势</h4>
									<p class="indent">
										第三代试管婴儿技术可以进行植入前胚胎遗传疾病、先天疾病的检测，使优生优育得到最完美的保障。而一、二代技术无法有效避免带有遗传疾病或先天疾病的胚胎植入母体，让孩子和父母未来充满巨大风险。
									</p>
									<p class="indent">
										44岁以上女性受孕率很低，15~35岁的女性受孕率最高。女性随着年龄的增长，受孕率会越来越低。在30岁之前冷冻卵子，可以提高日后手术受孕率。而冷冻卵子也可备不时之需，可以通过冷冻卵子的方式保存年轻状态下的卵子，到需要的时候可进行手术受孕。因为卵子在年轻状态下，受孕率也会高很多。
									</p>
									<h4>卵子冷冻方法</h4>
									<p class="indent">
										<span>慢速冷冻法：</span>早期常用冷冻方法，冷冻过程时间较长，6H以上。
										<span>超快速冷冻法：</span>把卵母细胞用适当的冷冻保护剂混合进行短暂处理后，投入液氮中，冷冻过程中细胞内外形成结晶。
										<span>玻璃化冷冻法：</span>依靠溶液的玻璃化特性，将细胞固定在玻璃化状态下，是超快速降低细胞温度的一种冷冻模式。
									</p>
								</div>
								<div class="contenttxt">
									<p class="indent">1、30岁以上，工作上升期，没有时间生养孩子；</p>
									<p class="indent">2、至今没有找到Mr.Right；</p>
									<p class="indent">3、因肿瘤或其它疾病要全身放化疗；</p>
									<p class="indent">4、卵巢早衰(卵子数量质量开始变差)；</p>
									<p class="indent">5、外科治疗致卵巢破坏。</p>
								</div>
								<div class="contenttxt">
									<p class="indent">
										我国法律有明确规定，必须持有三证(结婚证、身份证、准生证)，且患有不孕不育症的夫妇才可以接受辅助生殖技术诊疗，其中国内尚未批准未婚女性或者有生育能力的夫妇冷冻卵子。所以不符合条件的这些"未来"的宝宝要去国外(台湾不是哦，当然了，台湾也是可以的，而且我们推荐去台湾)闯一闯了，在美国、西班牙、英国、日本、泰国、中国台湾未婚女性可以冷冻卵子，而且美国、日本和中国台湾是世界一流水准。
									</p>
								</div>
								<div class="contenttxt">
									<p class="indent">
										关于台湾冻卵，我们选择台湾高雄荣民总医院。高雄荣民总医院成立于1958年7月1日，1959年11月1日正式营业，直属行政院国军退役官兵辅导委员会（退辅会）管辖。
									</p>
									<p class="indent">
										1985年台湾第一个试管婴儿在该院出生，蒋介石及其家人皆在此就医与过世。2004年蒋方良女士在台北荣总病逝。原“行政院长”郝柏村与孙运璇等人也在此治疗。
									</p>
									<p class="indent">
										可治疗疾病科类型：不孕症治疗、人工受精、试管婴儿、显微镜虫操作术、玻璃化卵子及胚胎冷冻、着床前胚胎基因筛检、月经失调、先天性生殖器官及內分泌异常、子宮內膜异位症、多囊性卵巢症候群。
									</p>
									<p class="indent">
										2015年该院生殖医学中心雷射助孵化系统升級! 升级版主要在于可以大幅缩短胚胎在培养箱外的时间，许多胚胎需要使用雷射助孵化系统帮助胚胎能减少着床障碍，增加受孕率，仅需要原来一半的操作时间，更缩短了胚胎在培养箱外的时间，达到生长环境更稳定的目的。
									</p>
								</div>
								<div class="contenttxt">
									<h4>壹加医（冻卵）服务流程</h4>
									<a href="download/dongluanliucheng.zip" class="btn btn-default download">点击下载</a>
								</div>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/fumeishengzi.jpg" alt="" class="txtpic">
								<p class="indent">
									壹加医有固定的办公及经营场所，设有专职的客户服务人员，签证人员，过关培训人员，能够提供签证办理，过关指导，机票预订，月子中心服务，宝宝在美证件办理相关一条龙式服务。	
								</p>
								<p class="indent">
									美国公司及月子中心地 处洛杉矶富人居住区—DIAMOND BAR戴蒙吧市，均为24小时安保服务的封闭式高级公寓， 环境安静幽雅，小区配套设施豪华完善。中心内共有19套不同级别的豪华套房，均配备有 冰箱、烹饪设备、洗衣设备、电视（包括中港台频道），网络及免费国际长途电话。月子 中心交通便利，餐厅、超市、公园、高尔夫球场等散步即可到达。中心有一支由管家、月 嫂、司机（24小时待命）以及物业管理人员组成的爱心团队，服务细致体贴，接待过上百 位来自中港澳台及美国当地的华人高端产妇，有着良好的口碑和信誉。再让您享受到五星 级度假服务的同时也有家一般的感受。	
								</p>
							</div>
							<div class="detail">
								<ul class="submenu">
									<li class="subm-active"><a href="#">服务理念</a></li>
									<li><a href="#">美籍宝宝的优势</a></li>
									<li><a href="#">美国权威医院</a></li>
									<li><a href="#">赴美套餐</a></li>
									<li><a href="#">服务流程</a></li>
								</ul>
								<hr>
							</div>
							<div class="content">
								<div class="contenttxt">
									<h4>专业、专注、细心、细致，服务从接听您的第一个电话开始</h4>
									<p class="indent">
										<span>我们的服务：</span>口碑诚信、规范合法、专业权威、耐性周到；
										<span>我们的团队：</span>最权威、最专业、最顶尖、素质最高的资深服务团队；
										<span>我们的使命：</span>顾客至上，服务第一，品牌保障，给您十全十美的唯一；
										<span>我们的目标：</span>打造规范化、专业化、合法化、国际化的超五星级月子会所；
										<span>我们的核心竞争力：</span>直营机构，多年丰富实战经验，低密度安全管理，中 国总部实时监控，硬件设施完备，产业链售后服务。
									</p>
									<h4>我们提供的服务</h4>
									<p class="indent">1、全国售前、售中、售后网络支持，中美直营服务体系；</p>
									<p class="indent">2、真正实现直营理念，保证服务标准化；</p>
									<p class="indent">3、客户评估系统，保障产妇利益；</p>
									<p class="indent">4、量身定制签证方案，确保家庭梦想实现第一步；</p>
									<p class="indent">5、医院、医生推荐，介绍优先礼遇；</p>
									<p class="indent">6、丰富待产活动，安全健康快乐；</p>
									<p class="indent">7、帮助申请学校，提供免费海外学习机会；</p>
									<p class="indent">8、协助申请合法政府福利；</p>
									<p class="indent">9、推荐美国宝贝全球医疗保险方案；</p>
									<p class="indent">10、“绿色通道”办理宝宝所有证件，省去耗时烦恼；</p>
									<p class="indent">11、以多年经验帮您规避国内外政策上的风险；</p>
									<p class="indent">12、21年移民计划方案制定及潜在风险规避；</p>
									<p class="indent">13、归国后侨民事务咨询。</p>
								</div>
								<div class="contenttxt">
									<h4>美国宝宝的好处 </h4>
									<p class="indent">1、拥有美国国籍；</p>
									<p class="indent">2、全球180个邦交国免签证；</p>
									<p class="indent">3、美国公立小学至中学免学费；</p>
									<p class="indent">4、未来孩子赴美上大学,少花百万学费；</p>
									<p class="indent">5、孩子年满21岁，全家移民，拥有绿卡；</p>
									<p class="indent">6、拥有美国社会安全卡,享受美国福利；</p>
									<p class="indent">7、合法留在美国工作,优先任职政府部门；</p>
									<p class="indent">8、不占用计生标准,没有社会抚养费。</p>
									<h4>如果宝宝未来到美国生活 </h4>
									<p class="indent">1、享受美国十三年义务教育,就读小学到高中完全免费；</p>
									<p class="indent">
										2、您还在准备每年花二十到三十多万人民币送孩子到美国读大学?美国籍宝宝读大学、 研究所学费只要外国学生的10%，而且容易进入知名大学。仅仅四年本科学费就可 为你省上百万人民币；
									</p>
									<p class="indent">3、享受美国较为完善的医疗保障体系；</p>
									<p class="indent">
										4、未来可以申请美国公民才能享有的奖学金, 1%低利率助学贷款。比起多数自费赴美 就读的外国学生可以省几十上百万人民币；
									</p>
									<p class="indent">
										5、未来无条件留在高收入的美国工作( 2008年美国人均收入37，363美元,数据来自 IMF），可以优先担任美国政府,公家单位及大型企业重要领导岗位。许多关键职位, 如官方军务、国防外交、高科技和核心实验室,严格限于公民；
									</p>
									<p class="indent">6、未来享受全球180多个邦交国入境免签证和最优惠出入境便利；</p>
									<p class="indent">
										7、未来拥有美国社会安全卡,享有美国各种社会福利措施及医疗设备,年老时可领取养老 金,包括人在海外。住低价高质量老人公寓；
									</p>
									<p class="indent">
										8、其它国家政局不稳或动当时,即使航空封锁,美国公民也可以在美国政府的保护之下, 享有优先搭机离开的权利。
									</p>
									<h4>对于父母的好处</h4>
									<p class="indent">
										孩子21岁后,父母可以不受配额限制移民美国,而出生在美国以外的人如申请入籍美 国公民,除政治庇护,专业人才及美国公民结婚外，其余的就必须花至少四到十年的时 间以及500,000美金的费用。当然你想移民加、澳、港等也需跨越同样的门槛。
									</p>
									<h4>如果宝宝未来长期在中国生活</h4>
									<p class="indent">美国宝宝即便永远生活在中国,仍无条件是美国公民</p>
								</div>
								<div class="contenttxt">
									<p class="indent">
										下面所列医院全部为美国正规知名医院，采用LDR（待产、生产、恢复）三合 一，先进舒适人性的设备。顺产孕妇，住院一到两天，期间有专业护士24小 时照顾宝宝，妈咪可以随时电话通知送宝宝来身边。助产医生和护士70%可能 为华人，讲国语和广东话。如果你遇到美籍护士，将会有相关人员为您翻译。
									</p>
								</div>
								<div class="contenttxt">
									<p class="indent">
										关于台湾冻卵，我们选择台湾高雄荣民总医院。高雄荣民总医院成立于1958年7月1日，1959年11月1日正式营业，直属行政院国军退役官兵辅导委员会（退辅会）管辖。
									</p>
									<p class="indent">
										1985年台湾第一个试管婴儿在该院出生，蒋介石及其家人皆在此就医与过世。2004年蒋方良女士在台北荣总病逝。原“行政院长”郝柏村与孙运璇等人也在此治疗。
									</p>
									<p class="indent">
										可治疗疾病科类型：不孕症治疗、人工受精、试管婴儿、显微镜虫操作术、玻璃化卵子及胚胎冷冻、着床前胚胎基因筛检、月经失调、先天性生殖器官及內分泌异常、子宮內膜异位症、多囊性卵巢症候群。
									</p>
									<p class="indent">
										2015年该院生殖医学中心雷射助孵化系统升級! 升级版主要在于可以大幅缩短胚胎在培养箱外的时间，许多胚胎需要使用雷射助孵化系统帮助胚胎能减少着床障碍，增加受孕率，仅需要原来一半的操作时间，更缩短了胚胎在培养箱外的时间，达到生长环境更稳定的目的。
									</p>
								</div>
								<div class="contenttxt">
									<h4>壹加医（冻卵）服务流程</h4>
									<a href="download/dongluanliucheng.zip" class="btn btn-default download">点击下载</a>
								</div>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/mbglpic.jpg" alt="" class="txtpic">
								<p class="indent">
									疾病管理以“改进诊疗效果、降低医疗成本”为目标，贯彻慢性病标准诊疗指南，针对慢性病治疗，提倡一体化的病程干预及管理机制。	
								</p>
								<p class="indent">
									疾病管理鼓励预防、治疗与教育环节的有效结合，引导患者强化自我管理、改善生活习惯，促进医生、患者以及第三方健康服务间的交流协作，加强病情控制，防止病情恶化，并最终控制整体医疗成本。	
								</p>
								<p class="indent">
									疾病管理涉及慢性病的预防、治疗、护理、教育、管理、服务等各个环节，需要医生、护士、患者在治疗过程中充分配合。
								</p>
								<p class="indent">
									除医疗服务外，在疾病管理中，医疗器械/药品等生产商均能发挥各自优势，通过向患者提供产品的知识，增强疗效，提升客户满意度。同时，健康服务供应商能作为医疗机构的补充，帮助患者制定健康管理个人计划，促进自我管理，提高生活质量。
								</p>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/haiwaitijian.jpg" alt="" class="txtpic">
								<p class="indent">
									壹加医一直选择海外最权威的医院和专家为我们的客户进行健康检查，针对个人制定专业的体检方案，并以医生为主导，各种先进的体检设备辅助，为您的身体健康做出全面检查，并提供准确和详尽的评估。	
								</p>
								<p class="indent">
									壹加医对医院及专家的选择严谨认真。对于海外体检项目，日本在诊断、治疗方面，尤其是早期癌症的发现，领跑于世界各国，拥有无与伦比的优势。
								</p>
							</div>
							<div class="detail">
								<ul class="submenu">
									<li class="subm-active"><a href="#">精密体检介绍</a></li>
									<li><a href="#">体检项目</a></li>
									<li><a href="#">日本体检</a></li>
									<li><a href="#">台湾体检</a></li>
									<li><a href="#">全面贴心的服务</a></li>
								</ul>
								<hr>
							</div>
							<div class="content">
								<div class="contenttxt">
									<h4>为什么要做定期精密体检？</h4>
									<p class="indent">
										定期进行健康体检是保护人体健康的一项十分重要的预防性措施，是预防疾病发生、延缓疾病进展、实施自我保健的重要方式。通过健康体检至少你能感受到四个方面的好处。一是能从各项检查指标和数据上观察到身体功能的反应，了解自己身体各主要脏器的功能状态，全面地评价自己的健康状况。二是能在早期检查出潜在的疾病，达到早发现、早诊断，早治疗的目的，减少疾病的恶性循环，最大限度地保证身体健康。三是对原有的疾病定期复查、进行比较，确定有无加重、减轻或痊愈，有利于指导今后的治疗和预防保健工作。四是针对专家提出的健康建议，树立积极的健康理念，改善不良的生活习惯，去除不利于健康的因素和生活习惯，提高自身的健康水平。
									</p>
									<h4>为什么要重视体检？</h4>
									<p class="indent">1、每个人身体内都有前癌细胞；</p>
									<p class="indent">2、部分患者可以通过有效治疗而减轻痛苦；</p>
									<p class="indent">3、癌症，慢慢变成生活习惯病；</p>
									<p class="indent">4、部分癌症是可以预防的 ;</p>
									<p class="indent">5、部分癌症患者可以通过早期治疗而痊愈；</p>
									<p class="indent">6、某些病灶由毫米级生长至厘米级只需要1-3年的时间。</p>
									<h4>什么是好的体检？</h4>
									<p class="indent">
										<span>全面覆盖人体的九大系统：</span>神经系统、消化系统、呼吸系统、循环系统、泌尿系统、内分泌系统、免疫系统、骨骼肌肉系统、生殖系统。
									</p>
									<p class="indent">
										<span>好的体检环境：</span>明亮的环境，温馨的气氛，严格的预约机制，限制客户的接待量，保障每位客户都能有充足的时间进行精密的排查。
									</p>
									<p class="indent">
										<span>好的读片医生：</span>拥有丰富临床经验的医生进行体检报告解读，能保障读片的准确性、严谨性、专业性。
									</p>
								</div>
								<div class="contenttxt">
									<h4>常规体检项目：</h4>
									<p class="indent">详细的病史、体检</p>
									<p class="indent">前列腺和睾丸检查，PSA筛查</p>
									<p class="indent">乳腺和盆腔检查，宫颈细胞学检查和乳腺透视成像</p>
									<p class="indent">肺呼吸功能检测</p>
									<p class="indent">胸部X光透视</p>
									<p class="indent">心脏冠脉钙沉积斑块检查</p>
									<p class="indent">中风风险分析</p>
									<p class="indent">心电图</p>
									<p class="indent">主动脉弓动脉瘤检测</p>
									<p class="indent">常规实验室和生化指标检测</p>
									<p class="indent">听力检查</p>
									<p class="indent">体表皮肤黑痣检查</p>
									<p class="indent">视力和眼底检查</p>
									<p class="indent">颈动脉超声检查</p>
									<p class="indent">骨密度测量，骨质疏松和骨折风险评估</p>
									<p class="indent">医生讲解旅行注意的健康事项</p>
									<p class="indent">在受检者选择的情况下进行的HIV检测</p>
									<h4>定制额外的检查项目：</h4>
									<p class="indent">肝炎检查</p>
									<p class="indent">结核杆菌实验</p>
									<p class="indent">心脏运动平板实验</p>
									<p class="indent">维生素D检测</p>
									<p class="indent">结肠镜检查</p>
									<p class="indent">任何其他的影像检查</p>
									<p class="indent">任何其他的实验室检查</p>
								</div>
								<div class="contenttxt">
									<h4>日本早期癌症检查介绍：</h4>
									<p class="indent">
										举国防癌30年的成功使日本成为世界癌症防治最先进的国家。保持着发现癌症的世界记录，能发现5毫米以下的早初期癌症，世界水平的癌症检查可以发现15毫米以上的癌症，而在中国大概是可以发现几厘米的中晚期癌症。
									</p>
									<p class="indent">
										在日本，大概80%的癌症发现处于早初期，其中80%的人可以得到治愈。在中国则是相反的，80%以上的癌症确诊发现为癌症中晚期，80%的病人无法治愈。日本的癌症治愈率达到68%，中国平均治愈率是20%，北京上海能达到40%，也就是说在日本即使是癌症患者，2/3的人可以生存，而中国2/3的癌症患者是宣判了死亡。
									</p>
									<h4>独有的新型癌症检查方法：</h4>
									<p class="indent">
										日本的全部癌症检查需要1天的时间，系统的癌症检查包括了世界目前最先进的几十种癌症检查手段。
									</p>
									<p class="indent">
										超初期癌症的免疫检查法IMMUNODOCK、尿液癌症检查法、粪便癌症检查法、咳痰细胞癌症检查法，以及多达21项肿瘤标志物检查（常规的只有6项）等，建立起一个以毫米为单位的“网”，每个身体部位要接受几种复合检查，彻底排查癌症，让癌细胞无处可藏。
									</p>
									<h4>独特的检查体系：</h4>
									<p class="indent">
										<span>医生详细问诊：</span>从家族病史到自觉症状、以往病史、个人生活习惯等上百个问题帮助医师发现任何癌症征兆。
									</p>
									<p class="indent">
										<span>持续两天的多层级精细检查：</span>不同于一般体检的是，这里的所有检查都是以发现早期癌症为目的进行特殊设置的，编织一个以毫米为单位的“网”发现和排除300种癌症，日本保持着世界癌症发现最小记录—5毫米以下早初期癌症。
									</p>
									<p class="indent">
										<span>代表日本最高水平的医生团队综合诊断：</span>现场电脑数字化显示，专家讲解检查结果，最后由专家团队进行集体诊断， 确保诊断的准确性，一个月后完成综合诊断报告，提供检查数据光盘和中文翻译诊断报告。
									</p>
									<p class="indent">
										<span>癌症病因预防讲座：</span>改变生活习惯，避免罹患癌症。
									</p>
									<p class="indent">
										<span>通过日本癌症检查没有发现早期癌症，在未来的 3-5 年，您不用担心突发癌症等重大疾病。</span>
									</p>
								</div>
								<div class="contenttxt">
									<p class="indent">
										台湾医疗水平举世闻名，全球排名前 200 名的大医院台湾就占据 14 家，数量排名全球第三，仅少于美国及德国，远多于亚洲其他国家。已有15家通过全球医界最高的JCI国际医院评鉴，每年吸引无数国际病患来台就诊。保证每一位就诊贵宾，皆由台湾该疾病治疗水平最好的团队医治。
									</p>
									<p class="indent">
										台湾在医疗产业服务意识、特定领域的医疗技术和终端价格等方面，具有高度优势。
									</p>
									<p class="indent">
										两岸人士，体质相同，语言相通，饮食相似，在医疗、美容、抗老和养生方面的需求，亦具高度同质性。因此台湾具有发展成为两岸乃至全球华人「医疗养生抗老中心」的先天优势和坚实基础。
									</p>
								</div>
								<div class="contenttxt">
									<h4>个性化体检方案，全程私人定制</h4>
									<p class="indent">
										根据性别、年龄、职业、生活习惯等特征进行个性化体检方案定制，多层级全方位综合复式检查手段，提供详细的检查报告与健康建议及诊后服务。全程私人旅行顾问陪同，体检当天专业医学翻译陪护服务。体检后，一旦发现异常，有需要我们可帮您安排后续的海外治疗服务。
									</p>
									<h4>壹加医团队精挑细选的医疗机构</h4>
									<p class="indent">
										经过全球调研，数千家机构的数据分析和体检对比，我们只选择符合壹加医标准的体检机构。
									</p>
									<h4>回国后壹加医团队的后续健康追踪</h4>
									<p class="indent">
										体检者归国后，壹加医将会对每一位参加体检的客户根据体检报告进行健康解读。壹加医致力于对您的健康保驾护航。
									</p>
									<h4>日本防癌体检申请步骤</h4>
									<a href="download/ribenfangaitijian.zip" class="btn btn-default download">点击下载</a>
								</div>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/hwzlpic.jpg" alt="" class="txtpic">
								<p class="indent">
									随着我国国民收入水平的不断提高，国内外信息交流的逐步增多，越来越多的内地居民开始在世界范围内寻找更好的医疗资源，只要条件允许，国内患者也能赴海外享受先进发达的医疗服务。虽然医疗费用比国内高，但其医疗服务有着显而易见的优势：一是高超的医疗技术；二是先进的医疗设备；三是责任意识强，具有敬业精神的医生；四是公平、规范、专业的医疗服务；五是明显优于国内的医疗环境和配套设施；六是特有的临床治疗药物。	
								</p>
								<p class="indent">
									海外医疗在国外发展较为成熟，很多医院都设有国际病人办公室并配备多语种医学专业翻译人员，就医流程和模式都已相对成熟。目前选择海外治疗肿瘤、心脏等方面疾病的，多以企业高管等高端人士为主。治疗时间短则1-2周，长则3-4个月。	
								</p>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/hwympic.jpg" alt="" class="txtpic">
								<p class="indent">
									壹加医对境外医疗机构的选择近乎苛刻，依托海外多所知名医疗机构，联合各领域专家，秉承一切从客户利益出发的理念，为中国客户私人定制健康解决方案。
								</p>
							</div>
							<div class="detail">
								<ul class="submenu">
									<li class="subm-active"><a href="#">海外医美介绍</a></li>
									<li><a href="#">台湾3D时光线</a></li>
									<li><a href="#">东京美容套餐</a></li>
									<li><a href="#">医美-癌基因检查</a></li>
									<li><a href="#">服务流程</a></li>
								</ul>
								<hr>
							</div>
							<div class="content">
								<div class="contenttxt">
									<h4>壹加医让海外医美触手可及</h4>
									<p class="indent">1、为您办理各项医疗签证手续；</p>
									<p class="indent">2、权威医院深度合作，绿色通道；</p>
									<p class="indent">3、根据客人需要精确分诊；</p>
									<p class="indent">4、根据客人要求提供行程安排服务；</p>
									<p class="indent">5、只收取最基本的服务费。</p>
								</div>
								<div class="contenttxt">
									<h4>为什么选择3D时光线?</h4>
									<p class="indent">
										可吸收性，完全无痕：使用可吸收PDO缝线，不需拆线，半年后会逐渐被人体吸收，无材质滞留的缺点。
									</p>
									<p class="indent">
										隐型支架，维持力佳：光线植入后，让胶原蛋白顺此增生，可增加周围皮肤弹力与紧致，当线体被吸收后，仍能维持一定的拉提力量。
									</p>
									<p class="indent">
										螺旋走向，支撑点强：倒钩设计呈螺旋状走向，可360°拉提皮肤每个面向。
									</p>
									<p class="indent">柔软强韧：PDO材质比以往材质细致柔软，但韧度却更强，保有约3-5倍大的张力与拉力。</p>
									<h4>3D时光线的功能是什么？</h4>
									<p class="indent">3D时光线就像脸部软组织的塑形衣，是组织的隐型支架。</p>
									<h4>3D时光线多久能做一次？</h4>
									<p class="indent">3D时光线不具有冲突性，想维持脸部立体感可以随时做。</p>
									<h4>什么样的人不适合做3D时光线？</h4>
									<p class="indent">怕全身麻醉、怕留疤、怕家人发现、无法休假三天以上的人。</p>
									<h4>3D时光线能维持多久？</h4>
									<p class="indent">平均时间1年半左右。</p>
									<h4>3D时光线使用部位：</h4>
									<p class="indent">1、中脸法令纹及口角纹；</p>
									<p class="indent">2、前额及抬眉；</p>
									<p class="indent">3、下颚及颈部。</p>
								</div>
								<div class="contenttxt">
									<h4>重塑美丽——Theory 美容医院美容项目</h4>
									<p class="indent">1、热玛吉CPT（拉皮去皱）；</p>
									<p class="indent">2、眼袋・黑眼圈的治疗；</p>
									<p class="indent">3、减肥瘦身；</p>
									<p class="indent">4、珀尿酸注射；</p>
									<p class="indent">5、瘦脸针注射；</p>
									<p class="indent">6、粉刺治疗；</p>
									<p class="indent">7、雀斑・美白治疗。</p>
								</div>
								<div class="contenttxt">
									<h4>基因检查项目</h4>
									<p class="indent"><span>内科疗法：</span></p>
									<p class="indent">1、血液净化；</p>
									<p class="indent">2、超级维生素C点滴；</p>
									<p class="indent">3、超级胎盘注射。</p>
									<p class="indent"><span>检查：</span></p>
									<p class="indent"><span>1、癌症基因检测；</span></p>
									<p class="indent">2、欧立健检测。</p>
								</div>
								<div class="contenttxt">
									<h4>壹加医海外医美服务流程</h4>
									<a href="download/haiwaiyimei.zip" class="btn btn-default download">点击下载</a>
								</div>
							</div>
						</div>
						<div class="servicetxt">
							<div class="txt-top">
								<img src="../images/jyjcpic.jpg" alt="" class="txtpic">
								<p class="indent">
									生活会有各种各样的挑战，其中有一项挑战是你不应该害怕的，我们应该掌握并主宰的就是我们的健康！
								</p>
								<p class="indent">几岁会生病，生什么病，是否危及生命?</p>
								<p class="indent">难道你不想将健康和命运掌控在自己手中？?</p>
								<p class="indent">
									这要靠破解生命密码的高端疾病预控手段——基因检测，通过基因检测，我们不用再为某天是否会从身体里突然冒出的高危疾病所担心，尤其是某些具有遗传性的家族类病史，癌症？心血管病？糖尿病？······统统一网打尽，你唯一需要做的，就是从容不迫地做好预防即可。
								</p>
							</div>
							<div class="detail">
								<ul class="submenu">
									<li class="subm-active"><a href="#">基因检测介绍</a></li>
									<li><a href="#">台湾基因检测优势</a></li>
									<li><a href="#">无创产前筛查NIPT</a></li>
									<li><a href="#">检测内容</a></li>
									<li><a href="#">服务流程</a></li>
								</ul>
								<hr>
							</div>
							<div class="content">
								<div class="contenttxt">
									<h4>什么是基因？</h4>
									<p class="indent">
										基因就是带有生物遗传信息的DNA片段，是“生命天书”。基因支持着生命的基本构造和性能，储存着生命孕育、生长、凋亡过程的全部信息，人类的活动和行为、人类的健康和疾病都由基因来操纵和调控，一切生命的生老病死都与基因密不可分！
									</p>
									<h4>什么是基因检测？</h4>
									<p class="indent">
										基因检测就是通过提取被检人的口腔黏膜或血液中的DNA 样品，根据不同的疾病易感基因和药物不良反应的不同要求，分别采用DNA测序或SNP基因分型技术共同完成检测，基因检测使人们能及时了解自己的基因信息，了解身体疾病的风险，做好疾病预防管理。
									</p>
									<h4>为什么做基因检测 ?</h4>
									<p class="indent">
										1、基因检测可以了解自身遗传背景，检测与疾病相关的易感基因，使人们能够预测身体患病的风险，以往被认为是后天造成的慢性疾病，如高血压、糖尿病等，甚至是癌症，都已被研究出来和人体多种基因有关，属多基因关联性疾病。
									</p>
									<p class="indent">2、基因检测可以指导个性化用药，有效避免临床误诊。</p>
									<p class="indent">3、基因检测可以指导健康的生活方式，改善不良的生活环境和生活习惯。</p>
									<p class="indent">
										4、将自身基因对比多基因关联性疾病研究数据，可以做到疾病的早知道，早预防，早治疗，做好预先的健康管理规划，主动把握健康和生命的质量。
									</p>
									<p class="indent">5、基本检测可以在产前了解宝宝的健康状况。</p>
								</div>
								<div class="contenttxt">
									<p class="indent">
										台湾基因检测技术同步全球，全部的大数据都来源于亚洲人。壹加医携手康健基因科技有限公司，结合台湾交通大学生命信息研究所团队，向您提供最精确的生命预测。准确率达99.9%。
									</p>
									<p class="indent">1、最可靠的亚洲人基因定序检测；</p>
									<p class="indent">2、精确预估58项疾病、11种癌症的发生率；</p>
									<p class="indent">3、无须亲赴台湾、不必忍痛抽血；</p>
									<p class="indent">4、一本完整检验报告和具体的健康管理建议；</p>
									<p class="indent">5、获得一个终生云端账号，随时可下载基因数据供后续医疗指导使用。</p>
								</div>
								<div class="contenttxt">
									<h4>为什么做产前检测？</h4>
									<p class="indent">
										怀孕对于每一位女士来说都是最激动人心的事情。当你在感受这份幸福的同时请为宝宝的健康做好准备。建议准妈妈们在怀孕早期进行产前检查，以减少宝宝受到遗传病的影响。
									</p>
									<h4>什么是NTAD23?</h4>
									<p class="indent">
										孕妇在怀孕期间，胎儿的游离DNA会经过胎盘进入母体的血液系统。NTAD23检测只需抽取妈妈10mL静脉血，提取胎儿游离DNA，通过新一代DNA测序并结合生物信息技术，计算出胎儿患有染色体异常(如唐氏综合症)的风险率。
									</p>
									<p class="indent">
										NTAD23无创性胎儿染色体异常产前检测技术，能够为准妈妈们提供一种准确度高且无流产风险的唐氏综合症及其他染色体疾病筛查方法。NTAD23只需要简单抽血，即可有效地检测宝宝的健康。
									</p>
									<h4>NTAD23的优点</h4>
									<p class="indent">
										<span>安全无创：</span>无流产风险；
									</p>
									<p class="indent">
										<span>准确可靠：</span>准确度高达99%以上，超过1,000,000个案例，全球最大数据库提供分析参考；
									</p>
									<p class="indent">
										<span>全面筛查：</span>筛查胎儿6种常染色体三倍体综合症、5种性染色体异常检测、9种染色体缺失综合症；
									</p>
									<p class="indent">
										<span>信心保证：</span>全球首个CFDA认证产品，由香港CAP认证实验室检测和香港注册医疗化验师签发报告；
									</p>
									<p class="indent">
										<span>早孕检测：</span>怀孕10周即可检测（包括双胞胎）；
									</p>
									<p class="indent">
										<span>快捷简易：</span>只需10ml孕妇静脉血，并于5-7个工作天出报告。
									</p>
									<h4>NTAD23的适用对象</h4>
									<p class="indent">1、35岁或以上的孕妇；</p>
									<p class="indent">2、拒绝接受入侵性检查后有流产风险的孕妇；</p>
									<p class="indent">3、唐氏综合症筛查为高风险的孕妇；</p>
									<p class="indent">4、过去或家族有染色体异常病史；</p>
									<p class="indent">5、试管婴儿或多次流产的孕妇；</p>
									<p class="indent">6、希望接受高准确度产前唐氏综合症筛查的孕妇。</p>
									<h4>NTAD23的不适用对象</h4>
									<p class="indent">1、怀有三胞胎或以上的孕妇；</p>
									<p class="indent">2、怀有多胞胎，但超过八周后才减胎的孕妇；</p>
									<p class="indent">3、距上次减胎时间不足8周的孕妇；</p>
									<p class="indent">4、自身有染色体异常的孕妇；</p>
									<p class="indent">5、一年内接受过输血的孕妇；</p>
									<p class="indent">6、怀有胎盘嵌合体宝宝的孕妇；</p>
									<p class="indent">7、曾经接受过干细胞治疗或器官移植的孕妇；</p>
									<p class="indent">8、怀有罗氏易位宝宝的孕妇。</p>
								</div>
								<div class="contenttxt">
									<h4>常规检测</h4>
									<p class="indent">
										癌症13项、内分泌新陈代谢疾病6项、神经疾病4项、神经科5项、消化系统4项、骨科2项、眼科2项、皮肤科3项、免疫风湿科6项、心脏科4项、胸腔科2项、妇科4项、其他疾病3项、其他生理特征12项。
									</p>
									<p class="indent">女性共计70项，男性66项。</p>
									<h4>无创产前筛查(NIPT)</h4>
									<div class="table-responsive">
										<table class="table table-bordered">
											<tr>
												<th width="15%" align="center">染色体疾病</th>
												<th width="15%" align="center">发病率</th>
												<th width="55%" align="center">症状</th>
												<th width="15%" align="center">检测灵敏度</th>
											</tr>
											<tr>
												<td colspan="4" class="left">
													三倍体综合症：
												</td>
											</tr>
											<tr>
												<td>唐氏综合症(Trisomy21)</td>
												<td>随着孕妇年龄加而上升(35岁：1/400)</td>
												<td class="left">
													21号染色体三体症，俗称唐氏综合症，是由于多了一条21号染色体而引致的疾病。约30%的流产个案都是因为怀有唐氏综合症的胎儿。根据不同的健康问题，有些患有唐氏综合症的婴儿需要特别的照顾及医疗护理。大多数唐氏综合症患者会有智力障碍，程度由轻微到中度不等。早期干预已被证实能够有效改善唐氏综合症患者的健康及生活。
												</td>
												<td>>99.1%</td>
											</tr>
											<tr>
												<td>爱德华氏综合症(Trisomy18)</td>
												<td>1/6,000</td>
												<td class="left">
													18号染色体三体症，又称爱德华氏综合症，是由于婴儿出生时带有三条18号染色体。怀有爱德华氏综合症胎儿的孕妇会很容易流产，而大多数能够出生的婴儿会在出生后数星期内夭折，不足10%的婴儿能够存活一年以上。大多数爱德华氏综合症的婴儿会有严重智力障碍及出生缺陷，包括心脏、脑及肾脏不正常等；外部异常，如唇裂/腭裂，头小，畸型足，手指发育不全及下腭细小等。
												</td>
												<td>>98.2%</td>
											</tr>
											<tr>
												<td>巴陶氏综合症(Trisomy13)</td>
												<td>1/10,000--1/21,700</td>
												<td class="left">
													13号染色体三体症，又称巴陶氏综合症。正常婴儿带有两条13号染色体，巴陶氏综合症婴儿却常带有三条13号染色体。怀有巴陶氏综合症胎儿的孕妇会有很高的流产或死胎风险，即使能够出生大多数婴儿都会在出生后一周内夭折。陶氏综合症婴儿有可能有心脏缺陷，脑或脊髓的问题，额外的手指和/脚趾，腭裂或免唇及肌肉张力低下。婴儿亦会有很多其他出生器官缺陷。
												</td>
												<td>>99.1%</td>
											</tr>
											<tr>
												<td colspan="4" class="left">
													性染色体异常综合症（仅限单胎）：
												</td>
											</tr>
											<tr>
												<td>柯林菲特氏综合症(XXY)</td>
												<td>1/500</td>
												<td class="left">
													柯林菲特氏症是一种只会出现于男性身上的染身体异常疾病。受影响男性会比正常男性额外多出一条XXY染色体。男性柯林菲特氏症患者的睪丸较小，在出生前及青春期不能制造足够的男性荷尔蒙，从而导致第二性征没有正常发育。其他病征包括减少胡须及阴毛，乳房有轻微发育。缺少男性荷尔蒙亦都会引致其他不同征状，包括不育。
												</td>
												<td>>95%</td>
											</tr>
											<tr>
												<td>三X综合症(XXX)</td>
												<td>1/1,000</td>
												<td class="left">
													三X综合症，又称为X染色体三体症，是由于女性患者多出一条X染色体而引致的疾病。三X综合症患者的身体特征及临床病征程度因人而异。有些患者并没有任何临床表征，或只有轻微征状，有些甚至终身都未被确诊。但某些患者可能表现出很多异常的情况；例如增加了学习障碍的风险，导致说话和语言发展迟缓，动作技能(如坐和行走)的发育缓慢，及肌肉张力低下。这些征状在女性患者中有很大的差异，但10%受影响的女性都会出现癫痫症或肾脏异常等病征。
												</td>
												<td>95%</td>
											</tr>
											<tr>
												<td>XYY三体综合症(XYY)</td>
												<td>1/10,00</td>
												<td class="left">
													XYY三体综合症，又称雅各布氏症，只出现于男性。患者比正常人额外多了一条Y染色体。XYY综合症患者通常身材高大，而在青春期时容易有严重的青春豆问题。其他征状包括学习障碍及一些行为上的问题，如脾气暴躁等。
												</td>
												<td>>95%</td>
											</tr>
											<tr>
												<td>胎儿性别检测</td>
												<td>NA</td>
												<td class="left">
													若检测Y染色体浓度＞0.0048，即胎儿为男性；<br>若检测Y染色体浓度＜0.0048，即胎儿为女性。
												</td>
												<td>>97%</td>
											</tr>
											<tr>
												<td colspan="4" class="left">
													三倍体综合症(仅限单胎)：
												</td>
											</tr>
											<tr>
												<td>9号染色体三倍体(Trisomy9)</td>
												<td></td>
												<td class="left">
													9号染色体三倍体是罕见的染色体疾病。完全型9号染色体三倍体(Full Trisomy 9)胎儿大多数于第一孕期发生自然流产，活产的婴儿大部份活不过出生后一周。嵌合型9号染色体三倍体(Mosaic Trisomy 9)表示胎儿部分细胞多出一条9号染色体，主要临床症状为发育缺陷、先天性心脏病、智力障碍、神经系统发育迟缓及骨骼肌系统异常等。
												</td>
												<td rowspan="3">检测灵敏度未经验证</td>
											</tr>
											<tr>
												<td>16号染色体三倍体(Trisomy16)</td>
												<td>32/100,000</td>
												<td class="left">
													16号染色体三倍体是罕见的染色体疾病。完全型16号染色体三倍体(Full Trisomy 16)胎儿大多数于第一孕期就自然流产。嵌合型16号染色体三倍体(Mosaic Trisomy 16)表示胎儿部分细胞多出一条16号染色体，主要临床症状为发育迟缓及认知障碍等。
												</td>
											</tr>
											<tr>
												<td>22号染色体三倍体(Trisomy22)</td>
												<td>9-20/100,000</td>
												<td class="left">
													22号染色体三倍体是罕见的染色体疾病。完全型22号染色体三倍体(Full Trisomy 22)胎儿大多数于第一孕期发生自然流产，活产的婴儿也无法存活长久。嵌合型22号染色体三倍体(Mosaic Trisomy 22)表示胎儿部分细胞多出一条22号染色体，主要临床症状为智力障碍、肾脏形态异常、身体两侧不对称发育等。
												</td>
											</tr>
											<tr>
												<td colspan="4" class="left">
													缺失综合症(仅限单胎)：
												</td>
											</tr>
											<tr>
												<td>5p缺失综合症</td>
												<td>1/20,000--1/50,000</td>
												<td class="left">
													5P缺失综合症，主要包括猫呜综合症。此症患者会出现小头，出生体重过轻，肌肉张力低下及中度至严重的智力障碍。进食及或呼吸困难等都是常见的征状。
												</td>
												<td rowspan="8">检测灵敏度未经验证</td>
											</tr>
											<tr>
												<td>1p36缺失综合症</td>
												<td>1/50,00</td>
												<td class="left">
													1p36缺失综合症的婴儿主要临床表现有肌肉张力低下，心脏及其他器官的缺陷。大多数患者会出现发育上的问题和不同程度的智力障碍。
												</td>
											</tr>
											<tr>
												<td>2p33.1缺失综合症</td>
												<td></td>
												<td class="left">
													2q33.1缺失综合症的婴儿主要临床表现有发育迟缓，患有行为及成长上的问题。患者容易会有进食困难及出现颚裂的征状。
												</td>
											</tr>
											<tr>
												<td>10p14缺失综合症</td>
												<td></td>
												<td class="left">
													10p14缺失综合症主要包括第Ⅱ型狄乔治症候群。患者主要症状为生长迟滞、心脏先天异常、副甲状腺功能低下、T-细胞免疫缺陷及面部畸形等症状。
												</td>
											</tr>
											<tr>
												<td>16p12.2缺失综合症</td>
												<td></td>
												<td class="left">
													16p12.2缺失症候群患者主要症状为面部畸形、喂养困难、复发性耳道感染、发育迟缓及认知障碍。
												</td>
											</tr>
											<tr>
												<td>11q23缺失综合症</td>
												<td>1/100,000</td>
												<td class="left">
													11q23缺失综合症主要包括雅各布森症候群，患者临床症状主要为发育迟缓、认知障碍、三角头畸形、眼睑下垂和低位耳。
												</td>
											</tr>
											<tr>
												<td>1q32.2缺失综合症</td>
												<td>1/35,000--1/100,000</td>
												<td class="left">
													1q32.1缺失综合症主要包括遗传性唇颚裂症候群，患者多以遗传性发育障碍为主。患者主要表现为下嘴唇常可见到凹陷痕，有唇颚裂或单纯颚裂，少数患者会有牙齿缺损或畸形，俗称为兔唇，是最常见的唇颚裂症之一。
												</td>
											</tr>
											<tr>
												<td>15q11.2缺失综合症</td>
												<td>1/10,000--1/20,000</td>
												<td class="left">
													5q11.2缺失综合症主要包括普瑞德威利症候群和天使症候群个疾病。普瑞德威利症候群患者会肌肉张力低、智力障碍、身材矮小、性腺功能不足、斜视和小手小脚等特性。由于患者的大脑无法告诉自己胃已饱胀，导致无法抑制「吃」的冲动，进而导致病态肥胖，因此俗称「小胖威利症候群」。天使症候群是个严重学习障碍并伴随特殊的面部表征与行为的神经性疾病，于孩童早期会出现严重的语言、心智发展迟缓且伴随特殊行为，如过度发笑、肢体不自主抽搐等症状。
												</td>
											</tr>
											<tr>
												<td colspan="4" class="left">
													母体地中海贫血基因检测：
												</td>
											</tr>
											<tr>
												<td>母体地中海贫血基因检测</td>
												<td></td>
												<td class="left">
													地中海贫血(Thalassemia)，简称地贫，是一种先天的血液遗传疾病。地中海贫血有轻型和重型之分，在香港轻型患者相当普遍，大约8.5％的人口为轻型地中海贫血患者。轻型地中海贫血患者并没有明显病征，能够正常生活，不需要特别治疗，但孕妇在怀孕期间，可能会有贫血现象。不过最值得关注的，是患者体内的地中海贫血基因，会直接遗传给胎儿。而两个轻型患者结婚，他们的下一代则有50%机会患有轻型地贫，25%机会患有重型地贫。
												</td>
												<td>检测灵敏度未经验证</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="contenttxt">
									<h4>1、无创产前流程</h4>
									<a href="download/无创产前流程.zip" class="btn btn-default download">点击下载</a>
									<h4>2、常规基因检测流程</h4>
									<a href="download/changguijiyinjiance.zip" class="btn btn-default download">点击下载</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="return-top"><a href="#" title="返回顶部" class="gotop"></a></div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="collg-3 col-md-3 col-sm-3 flogo">
					<img src="../images/flogo.png" alt="">
				</div>
				<div class="collg-6 col-md-6 col-sm-6">
					<p>京ICP备16031287号</p>
					<p>版权所有&copy;壹加医（北京）国际健康管理有限公司</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script src="../js/html5shiv.min.js"></script>
	<script src="../js/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul.nav-tabs li a").click(function(){
				$(".nav-tabs li a").removeClass("active");
				$(this).addClass("active");
			})
		})
		$(function(){
			$(".content:eq .contenttxt:not(:first)").hide();
			$(".submenu li a").each(function(index){
			$(this).click(
				function(){
					$(".submenu li").removeClass("subm-active")
					$(this).parent().addClass("subm-active")
					$(".content .contenttxt:visible").hide();
					$(".content .contenttxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		$(function(){
			$("#service .servicetxt:not(:first)").hide();
			$(".subnav li a").each(function(index){
			$(this).click(
				function(){
					$(".subnav li").removeClass("sub-active")
					$(this).parent().addClass("sub-active")
					$("#service .servicetxt:visible").hide();
					$("#service .servicetxt:eq(" + index + ")").show();
					return false;
				})
			})
		})
		// $(document).ready(function(e) {    //滚动的左边导航，窗口滚动时 导航固定
		// 	$(function () {  
	 //            $(window).scroll(function(){  
	 //                if ($(window).scrollTop()>0){  
	 //                	$("section .subnav").css("position","fixed");
	 //                    $("section .subnav").css('top','80px');
	 //                }  
	 //                else  
	 //                {  
	 //                	$("section .subnav").css("position","");
	 //                }  
	 //            }) 
	 //        }); 
	 //    });
	</script>
</body>
</html>